<div class="footer_contain">
    <div class="footer_contain_flex">
        <div class="footer_information">
            <div class="footer_logo">
                <a href="{{ url('homepage') }}"><img src="{{ asset('assets/image/common/logo.png') }}" alt=""></a>
            </div>
            <div class="footer_company">
                <p class="campany_name">株式会社レーベン</p>
                <p>〒220-0004<br> 横浜市西区北幸2-8-19横浜西口Ｋビル１階</p>
            </div>
        </div>
        <div class="footer_nav">
            <div class="footer_nav_title">
                <p>ご利用ガイド</p>
            </div>
            <div class="footer_navlist">
                <ul>
                    <li>
                        <a href="{{ url('homepage') }}user_data/guide#delivery"><span class="icon"> ▶︎ </span>送料・配送方法について</a>
                    </li>
                    <li>
                        <a href="{{ url('homepage') }}user_data/guide#paymethod"><span class="icon"> ▶︎ </span>お支払い方法について</a>
                    </li>
                    <li>
                        <a href="{{ url('homepage') }}user_data/guide#refund"><span class="icon"> ▶︎ </span>返品・交換について</a>
                    </li>
                    <li>
                        <a href="{{ url('help_tradelaw') }}"><span class="icon"> ▶︎ </span>特定商取引法に基づく表記</a>
                    </li>
                    <li>
                        <a href="{{ url('help_privacy') }}"><span class="icon"> ▶︎ </span>個人情報の取り扱いについて</a>
                    </li>
                    <li class="sp">
                        <a href="{{ url('homepage') }}user_data/guide#calendar"><span class="icon"> ▶︎ </span>営業日カレンダー</a>
                    </li>
                    {# <li class="sp">
                        <a href="{{ url('homepage') }}user_data/guide#fqa"><span class="icon"> ▶︎ </span>よくあるご質問</a>
                    </li> #}
                    <li class="sp">
                        <a href="{{ url('homepage') }}user_data/faq"><span class="icon"> ▶︎ </span>よくあるご質問</a>
                    </li>
                    {# <li class="sp">
                        <a href="{{ url('homepage') }}user_data/about"><span class="icon"> ▶︎ </span>レーベンとは</a>
                    </li> #}
                    <li class="sp">
                        <a href="https://yokohama-city.co.jp/company/"><span class="icon"> ▶︎ </span>レーベンとは</a>
                    </li>
                    <li class="sp">
                        <a href="{{ url('contact') }}"><span class="icon"> ▶︎ </span>お問い合わせ</a>
                    </li>
                </ul>
                <ul class="pc">
                    <li>
                        <a href="{{ url('homepage') }}user_data/guide#calendar"><span class="icon"> ▶︎ </span>営業日カレンダー</a>
                    </li>
                    <li>
                        <a href="{{ url('homepage') }}user_data/faq"><span class="icon"> ▶︎ </span>よくあるご質問</a>
                    </li>
                    {# <li>
                        <a href="{{ url('homepage') }}user_data/guide#fqa"><span class="icon"> ▶︎ </span>よくあるご質問</a>
                    </li> #}
                    {# <li>
                        <a href="{{ url('homepage') }}user_data/about"><span class="icon"> ▶︎ </span>レーベンとは</a>
                    </li> #}
                    <li>
                        <a href="https://yokohama-city.co.jp/company/"><span class="icon"> ▶︎ </span>レーベンとは</a>
                    </li>
                    <li>
                        <a href="{{ url('contact') }}"><span class="icon"> ▶︎ </span>お問い合わせ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <p>Copyright &copy; LEBEN. All rights reserved.</p>
</div>