
<div class="header_contain">
    <div class="header_logo">
        <a href="{{ url('homepage') }}">
            <img src="{{ asset('assets/image/common/logo.png') }}" alt="横浜みらい">
            {# <h1>横浜みらい</h1> #}
        </a>
    </div>
    <div class="header_nav_pc">
        <ul class="nav_list">
            <li class="p-menu active">
                <a href="{{ url('product_list', { 'category_id': 9 }) }}"><span class="en">EARPICK</span><span class="jp">耳かき</span></a>
                <div class="p-submenu">
                    <ul class="p-submenu_list">
                        <li>
                            <a href="{{ url('product_list', { 'category_id': 10 }) }}">
                                <img src="{{ asset('assets/image/top/category-icon/cate-icon-earpick_01.png') }}" alt="マイクロファイバー製">
                                <span class="jp pc">マイクロ<br>ファイバー製</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('product_list', { 'category_id': 11 }) }}">
                                <img src="{{ asset('assets/image/top/category-icon/cate-icon-earpick_02.png') }}" alt="ワイヤータイプ">
                                <span class="jp pc">ワイヤー<br>タイプ</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('product_list', { 'category_id': 12 }) }}">
                                <img src="{{ asset('assets/image/top/category-icon/cate-icon-earpick_03.png') }}" alt="専門医用">
                                <span class="jp pc">専門医用</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="p-menu">
                <a href="{{ url('product_list', { 'category_id': 5 }) }}"><span class="en">BODYCARE</span><span class="jp">ボディケア</span></a>
                <div class="p-submenu">
                    <ul class="p-submenu_list">
                        <li>
                            <a href="{{ url('product_list', { 'category_id': 6 }) }}">
                                <img src="{{ asset('assets/image/top/category-icon/cate-icon-bodycare_01.png') }}" alt="ヘルスケア雑貨">
                                <span class="jp pc">ヘルスケア<br>雑貨</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('product_list', { 'category_id': 7 }) }}">
                                <img src="{{ asset('assets/image/top/category-icon/cate-icon-bodycare_02.png') }}" alt="オーラルマウスケア">
                                <span class="jp pc">オーラル<br>マウスケア</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="p-menu">
                <a href="{{ url('product_list', { 'category_id': 13 }) }}"><span class="en">BEAUTY</span><span class="jp">ビューティー</span></a>
                <div class="p-submenu">
                    <ul class="p-submenu_list">
                        <li>
                            <a href="{{ url('product_list', { 'category_id': 14 }) }}">
                                <img src="{{ asset('assets/image/top/category-icon/cate-icon-beauty_01.png') }}" alt="ヘアブラシ">
                                <span class="jp pc">ヘアブラシ</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="p-menu">
                <a href="{{ url('product_list', { 'category_id': 20 }) }}"><span class="en">TABLE WEAR</span><span class="jp">テーブルウェア</span></a>
                <div class="p-submenu">
                    <ul class="p-submenu_list">
                        <li>
                            <a href="{{ url('product_list', { 'category_id': 21 }) }}">
                                {# <img src="" alt="カトラリー"> #}
                                <span class="jp pc">カトラリー</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('product_list', { 'category_id': 22 }) }}">
                                <img src="{{ asset('assets/image/top/category-icon/cate-icon-table02.png') }}" alt="UDカトラリー">
                                <span class="jp pc">UDカトラリー</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('product_list', { 'category_id': 23 }) }}">
                                <img src="{{ asset('assets/image/top/category-icon/cate-icon-table03.png') }}" alt="デザインカトラリー">
                                <span class="jp pc">デザイン<br>カトラリー</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('product_list', { 'category_id': 24 }) }}">
                                <img src="{{ asset('assets/image/top/category-icon/cate-icon-table04.png') }}" alt="離乳食スプーン">
                                <span class="jp pc">離乳食スプーン</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('product_list', { 'category_id': 25 }) }}">
                                <img src="{{ asset('assets/image/top/category-icon/cate-icon-table05.png') }}" alt="食器(グラス)">
                                <span class="jp pc">食器(グラス)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="p-menu">
                <a href="{{ url('product_list', { 'category_id': 15 }) }}"><span class="en">KITCHENTOOL</span><span class="jp">キッチン用品</span></a>
                <div class="p-submenu">
                    <ul class="p-submenu_list">
                        <li>
                            <a href="{{ url('product_list', { 'category_id': 16 }) }}">
                                <img src="{{ asset('assets/image/top/category-icon/cate-icon-kitchen01.png') }}" alt="包丁">
                                <span class="jp pc">包丁</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('product_list', { 'category_id': 17 }) }}">
                                <img src="{{ asset('assets/image/top/category-icon/cate-icon-kitchen02.png') }}" alt="ピーラー">
                                <span class="jp pc">ピーラー</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('product_list', { 'category_id': 18 }) }}">
                                <img src="{{ asset('assets/image/top/category-icon/cate-icon-kitchen03.png') }}" alt="菜箸">
                                <span class="jp pc">菜箸</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url('product_list', { 'category_id': 19 }) }}">
                                <img src="{{ asset('assets/image/top/category-icon/cate-icon-kitchen04.png') }}" alt="ハサミ">
                                <span class="jp pc">ハサミ</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="p-menu">
                <a href="{{ url('product_list', { 'category_id': 26 }) }}"><span class="en">OTHER</span><span class="jp">その他</span></a>
                <div class="p-submenu">
                    <ul class="p-submenu_list">
                        <li>
                            <a href="{{ url('product_list', { 'category_id': 27 }) }}">
                                <img src="{{ asset('assets/image/top/category-icon/cate-icon-other_01.png') }}" alt="ペットブラシ">
                                <span class="jp pc">ペットブラシ</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div class="header_icons">
        <ul class="icons_list">
        {% if is_granted('ROLE_USER') %}
            <li>
                <a href="{{ url('logout') }}">
                    <img src="{{ asset('assets/image/common/icon-login.png') }}" alt="ログアウト">
                    <span class="jp">ログアウト</span>
                </a>
            </li>
            <li>
                <a href="{{ url('mypage') }}">
                    <img src="{{ asset('assets/image/common/icon-register.png') }}" alt="マイページ">
                    <span class="jp">マイページ</span>
                </a>
            </li>
            <li>
                <a href="{{ url('mypage_favorite') }}">
                    <img src="{{ asset('assets/image/common/icon-faiver.png') }}" alt="お気に入り">
                    <span class="jp">お気に入り</span>
                </a>
            </li>
            <li>
                <a href="{{ url('cart') }}">
                    <img src="{{ asset('assets/image/common/icon-cart.png') }}" alt="カート">
                    <span class="jp">カート</span>
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ url('mypage_login') }}">
                    <img src="{{ asset('assets/image/common/icon-login.png') }}" alt="ログイン">
                    <span class="jp">ログイン</span>
                </a>
            </li>
            <li>
                <a href="{{ url('entry') }}">
                    <img src="{{ asset('assets/image/common/icon-register.png') }}" alt="会員登録">
                    <span class="jp">会員登録</span>
                </a>
            </li>
            <li>
                <a href="{{ url('mypage_favorite') }}">
                    <img src="{{ asset('assets/image/common/icon-faiver.png') }}" alt="お気に入り">
                    <span class="jp">お気に入り</span>
                </a>
            </li>
            <li>
                <a href="{{ url('cart') }}">
                    <img src="{{ asset('assets/image/common/icon-cart.png') }}" alt="カート">
                    <span class="jp">カート</span>
                </a>
            </li>
        {% endif %}
        </ul>
    </div>
    <div class="sp sp_menu">
        <div class="menu_btn"><span></span><span></span><span></span></div>
    </div>
    <div id="sp_nav" class="nav_sp sp" style="right: -100%;">
        <div class="sp_nav_contain">
            <div class="sp_nav_head">
                <div class="header_logo">
                    <a href="{{ url('homepage') }}">
                        <img src="{{ asset('assets/image/common/logo.png') }}" alt="横浜みらい">
                        <h1>横浜みらい</h1>
                    </a>
                </div>
            </div>
            <div class="sp_nav_body">
                <div class="sp_nav_item">
                    <button id="menu-button-1" aria-expanded="false"><span class="en">EARPICK</span><span class="jp">耳かき</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="subnav_content">
                        <ul class="subnav_itemlist">
                            <li class="subnav_item">
                                <a href="{{ url('product_list', { 'category_id': 10 }) }}">
                                    <img src="{{ asset('assets/image/top/category-icon/cate-icon-earpick_01.png') }}" alt="マイクロファイバー製">
                                    <span class="jp">マイクロ<br>ファイバー製</span>
                                </a>
                            </li>
                            <li class="subnav_item">
                                <a href="{{ url('product_list', { 'category_id': 11 }) }}">
                                    <img src="{{ asset('assets/image/top/category-icon/cate-icon-earpick_02.png') }}" alt="ワイヤータイプ">
                                    <span class="jp">ワイヤー<br>タイプ</span>
                                </a>
                            </li>
                            <li class="subnav_item">
                                <a href="{{ url('product_list', { 'category_id': 12 }) }}">
                                    <img src="{{ asset('assets/image/top/category-icon/cate-icon-earpick_03.png') }}" alt="専門医用">
                                    <span class="jp">専門医用</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="sp_nav_item">
                    <button id="menu-button-1" aria-expanded="false"><span class="en">BODYCARE</span><span class="jp">ボディケア</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="subnav_content">
                        <ul class="subnav_itemlist">
                            <li class="subnav_item">
                                <a href="{{ url('product_list', { 'category_id': 6 }) }}">
                                    <img src="{{ asset('assets/image/top/category-icon/cate-icon-bodycare_01.png') }}" alt="ヘルスケア雑貨">
                                    <span class="jp">ヘルスケア<br>雑貨</span>
                                </a>
                            </li>
                            <li class="subnav_item">
                                <a href="{{ url('product_list', { 'category_id': 7 }) }}">
                                    <img src="{{ asset('assets/image/top/category-icon/cate-icon-bodycare_02.png') }}" alt="オーラルマウスケア">
                                    <span class="jp">オーラル<br>マウスケア</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="sp_nav_item">
                    <button id="menu-button-1" aria-expanded="false"><span class="en">BEAUTY</span><span class="jp">ビューティー</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="subnav_content">
                        <ul class="subnav_itemlist">
                            <li class="subnav_item">
                                <a href="{{ url('product_list', { 'category_id': 14 }) }}">
                                    <img src="{{ asset('assets/image/top/category-icon/cate-icon-beauty_01.png') }}" alt="ヘアブラシ">
                                    <span class="jp">ヘアブラシ</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="sp_nav_item">
                    <button id="menu-button-1" aria-expanded="false"><span class="en">TABLE WEAR</span><span class="jp">テーブルウェア</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="subnav_content">
                        <ul class="subnav_itemlist">
                            <li class="subnav_item">
                                <a href="{{ url('product_list', { 'category_id': 21 }) }}">
                                    {# <img src="" alt="カトラリー"> #}
                                    <span style="width: 50px"></span>
                                    <span class="jp">カトラリー</span>
                                </a>
                            </li>
                            <li class="subnav_item">
                                <a href="{{ url('product_list', { 'category_id': 22 }) }}">
                                    <img src="{{ asset('assets/image/top/category-icon/cate-icon-table02.png') }}" alt="UDカトラリー">
                                    <span class="jp">UDカトラリー</span>
                                </a>
                            </li>
                            <li class="subnav_item">
                                <a href="{{ url('product_list', { 'category_id': 23 }) }}">
                                    <img src="{{ asset('assets/image/top/category-icon/cate-icon-table03.png') }}" alt="デザインカトラリー">
                                    <span class="jp">デザイン<br>カトラリー</span>
                                </a>
                            </li>
                            <li class="subnav_item">
                                <a href="{{ url('product_list', { 'category_id': 24 }) }}">
                                    <img src="{{ asset('assets/image/top/category-icon/cate-icon-table04.png') }}" alt="離乳食スプーン">
                                    <span class="jp">離乳食スプーン</span>
                                </a>
                            </li>
                            <li class="subnav_item">
                                <a href="{{ url('product_list', { 'category_id': 25 }) }}">
                                    <img src="{{ asset('assets/image/top/category-icon/cate-icon-table05.png') }}" alt="食器(グラス)">
                                    <span class="jp">食器(グラス)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="sp_nav_item">
                    <button id="menu-button-1" aria-expanded="false"><span class="en">KITCHENTOOL</span><span class="jp">キッチン用品</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="subnav_content">
                        <ul class="subnav_itemlist">
                            <li class="subnav_item">
                                <a href="{{ url('product_list', { 'category_id': 16 }) }}">
                                    <img src="{{ asset('assets/image/top/category-icon/cate-icon-kitchen01.png') }}" alt="包丁">
                                    <span class="jp">包丁</span>
                                </a>
                            </li>
                            <li class="subnav_item">
                                <a href="{{ url('product_list', { 'category_id': 17 }) }}">
                                    <img src="{{ asset('assets/image/top/category-icon/cate-icon-kitchen02.png') }}" alt="ピーラー">
                                    <span class="jp">ピーラー</span>
                                </a>
                            </li>
                            <li class="subnav_item">
                                <a href="{{ url('product_list', { 'category_id': 18 }) }}">
                                    <img src="{{ asset('assets/image/top/category-icon/cate-icon-kitchen03.png') }}" alt="菜箸">
                                    <span class="jp">菜箸</span>
                                </a>
                            </li>
                            <li class="subnav_item">
                                <a href="{{ url('product_list', { 'category_id': 19 }) }}">
                                    <img src="{{ asset('assets/image/top/category-icon/cate-icon-kitchen04.png') }}" alt="ハサミ">
                                    <span class="jp">ハサミ</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sp_nav_item">
                    <button id="menu-button-1" aria-expanded="false"><span class="en">OTHER</span><span class="jp">その他</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="subnav_content">
                        <ul class="subnav_itemlist">
                            <li class="subnav_item">
                                <a href="{{ url('product_list', { 'category_id': 27 }) }}">
                                    <img src="{{ asset('assets/image/top/category-icon/cate-icon-other_01.png') }}" alt="ペットブラシ">
                                    <span class="jp">ペットブラシ</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>