<main class="main">
    <div class="top_contain">
        <!-- MV -->
        <section class="p-mv page_max_width" style="max-width: unset;">
            <div class="p-mv_img">
                <img class="pc" src="{{ asset('assets/image/top/fv-pc.png') }}" alt="" style="margin-top: 100px;">
                <img class="sp" src="{{ asset('assets/image/top/fv-sp.svg') }}" alt="" style="margin-top: 40px;">
            </div>
        </section>

        <!-- バナー -->
        <section class="p-banners">
            <div class="p-banners_contain page_small_width">
                <div class="p-banner_body">
                    <p style="margin-bottom: 20px; text-align: center; color: #ea4025; font-weight: bold;">
                        ※現在新しいアイテムを随時追加中です。<br>
                        また、[ののじキャベピィMAX]品不足の為、アップグレード版[ののじキャベピィMAX-EX]を先行発売しております。
                    </p>
                    
                    <div class="p-banner_box p-banner_box01 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                        <a href="{{ url('entry') }}">
                            <img src="{{ asset('assets/image/top/banner01.png') }}" class="pc">
                            <img src="{{ asset('assets/image/top/banner01_sp.png') }}" class="sp">
                        </a>
                    </div>
                    <div class="p-banner_box p-banner_box02  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                        <a href="{{ url('product_detail', { 'id': 19 }) }}">
                            <img src="{{ asset('assets/image/top/banner02.png') }}" class="pc">
                            <img src="{{ asset('assets/image/top/banner02_sp.png') }}" class="sp">
                        </a>
                    </div>
                    <div class="p-banner_box p-banner_box03  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                        <a href="{{ url('product_detail', { 'id': 15 }) }}">
                            <img src="{{ asset('assets/image/top/banner03.png') }}" class="pc">
                            <img src="{{ asset('assets/image/top/banner03_sp.png') }}" class="sp">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>