{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/style_input.css') }}" type="text/css" />
{% endblock %}

{% block main %}
<div class="c-page_head page_small_width">
    <div class="c-page_title">
        <h1 class="en"><span>SIGN UP</span></h1>
        <p class="jp">新規会員登録</p>
    </div>
</div>
<!--  -->
<main class="main">
    <div class="c-subpage_contain">
        <div class="c-register_top">
            <div class="c-register_title wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                <h2>登録内容確認</h2>
            </div>
            <div class="c-register_steps wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                <div class="item_step active">
                    <span class="no">1</span>
                    <span class="txt">内容入力</span>
                </div>
                <div class="item_step active">
                    <span class="no">2</span>
                    <span class="txt">内容確認</span>
                </div>
                <div class="item_step">
                    <span class="no">3</span>
                    <span class="txt">送信完了</span>
                </div>
            </div>
            {# <div class="c-register_top_introtxt wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                <p>この文章はダミーです文字の大きさ・量・字間・行間等を確認するために入れていますこの文章はダミーです<br> 文字の大きさ・量・字間・行間等を確認するために入れています
                    <br> この文章はダミーです文字の大きさ・量・字間・行間等を確認するために入れています
                </p>
            </div> #}
        </div>

        <div class="p-register_conatin">
            <div class="p-register_form wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                <form method="post" action="{{ url('entry') }}" class="h-adr" novalidate>
                    {{ form_widget(form._token) }}
                    <div class="register_form">
                        <ul>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">氏名</label>
                                </div>
                                <div class="content">
                                    {{ form.name.name01.vars.data ~ form.name.name02.vars.data }}
                                    {{ form_widget(form.name.name01, { type : 'hidden' }) }}
                                    {{ form_widget(form.name.name02, { type : 'hidden' }) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">フリガナ</label>
                                </div>
                                <div class="content">
                                    {{ form.kana.kana01.vars.data ~ form.kana.kana02.vars.data }}
                                    {{ form_widget(form.kana.kana01, { type : 'hidden' }) }}
                                    {{ form_widget(form.kana.kana02, { type : 'hidden' }) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">性別</label>
                                </div>
                                <div class="content">
                                    {{ form.sex.vars.data }}
                                    {{ form_widget(form.sex, { type : 'hidden' }) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">生年月日</label>
                                </div>
                                <div class="content">
                                    {{ form.birth.vars.data ? form.birth.vars.data|date_day() }}
                                    {{ form_widget(form.birth.year, { type : 'hidden' }) }}
                                    {{ form_widget(form.birth.month, { type : 'hidden' }) }}
                                    {{ form_widget(form.birth.day, { type : 'hidden' }) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">メールアドレス</label>
                                </div>
                                <div class="content">
                                    {{ form.email.first.vars.data }}
                                    {{ form_widget(form.email.first, { type : 'hidden' }) }}
                                    {{ form_widget(form.email.second, { type : 'hidden' }) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">パスワード</label>
                                </div>
                                <div class="content">
                                    ********
                                    {{ form_widget(form.plain_password.first, { type : 'hidden' }) }}
                                    {{ form_widget(form.plain_password.second, { type : 'hidden' }) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">郵便番号</label>
                                </div>
                                <div class="content">
                                    {{ form.postal_code.vars.data }}
                                    {{ form_widget(form.postal_code, { type : 'hidden' }) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">都道府県</label>
                                </div>
                                <div class="content">
                                    {{ form.address.pref.vars.data }}
                                    {{ form_widget(form.address.pref, { type : 'hidden' }) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">市区町村</label>
                                </div>
                                <div class="content">
                                    {{ form.address.addr01.vars.data }}
                                    {{ form_widget(form.address.addr01, { type : 'hidden' }) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">以降の住所</label>
                                </div>
                                <div class="content">
                                    {{ form.address.addr02.vars.data }}
                                    {{ form_widget(form.address.addr02, { type : 'hidden' }) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">電話番号</label>
                                </div>
                                <div class="content">
                                    {{ form.phone_number.vars.data }}
                                    {{ form_widget(form.phone_number, { type : 'hidden' }) }}
                                </div>
                            </li>
                            {# エンティティ拡張の自動出力 #}
                            {% for f in form|filter(f => f.vars.eccube_form_options.auto_render) %}
                                {% if f.vars.eccube_form_options.form_theme %}
                                    {% form_theme f f.vars.eccube_form_options.form_theme %}
                                    {{ form_row(f) }}
                                {% else %}
                                    <li class="form_item">
                                        <div class="head">
                                            {% set label_class =  f.vars.label_attr.class is defined ? f.vars.label_attr.class : '' %}
                                            {{ form_label(f, f.vars.label, { 'label_attr': {'class': label_class ~ ' ec-label' }}) }}
                                        </div>
                                        <div class="content {{ has_errors(f) ? ' error' }}">
                                            {{ f.vars.data }}
                                            {{ form_widget(f, { type: 'hidden'}) }}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {{ form_widget(form.privacy_check, { type: 'hidden'}) }}
                        <div class="p-register_conatin">
                            <div class="c-btn_group">
                                <div class="c-btn_left">
                                    <button type="submit"
                                        class="c-btn"
                                        name="mode"
                                        value="back">{{ '編集に戻る'|trans }}
                                    </button>
                                </div>
                                <div class="c-btn_rigth">
                                    <button type="submit"
                                        class="c-btn"
                                        name="mode"
                                        value="complete">{{ 'この内容で送信する'|trans }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
