{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/style_input.css') }}" type="text/css" />

    <style>
        #contact_query label::after {
            content: '\a';
            white-space: pre;
        }
    </style>
{% endblock %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}

{% block main %}
<div class="c-page_head page_small_width">
    <div class="c-page_title">
        <h1 class="en"><span>SIGN UP</span></h1>
        <p class="jp">新規会員登録</p>
    </div>
</div>
<!--  -->
<main class="main">
    <div class="c-subpage_contain">
        <div class="c-register_top">
            <div class="c-register_title wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                <h2>会員登録</h2>
            </div>
            <div class="c-register_steps wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                <div class="item_step active">
                    <span class="no">1</span>
                    <span class="txt">内容入力</span>
                </div>
                <div class="item_step">
                    <span class="no">2</span>
                    <span class="txt">内容確認</span>
                </div>
                <div class="item_step">
                    <span class="no">3</span>
                    <span class="txt">送信完了</span>
                </div>
            </div>
            {# <div class="c-register_top_introtxt wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                <p>この文章はダミーです文字の大きさ・量・字間・行間等を確認するために入れていますこの文章はダミーです<br> 文字の大きさ・量・字間・行間等を確認するために入れています
                    <br> この文章はダミーです文字の大きさ・量・字間・行間等を確認するために入れています
                </p>
            </div> #}
        </div>

        <div class="p-register_conatin">
            <div class="p-register_form wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                <form method="post" action="{{ url('entry') }}" class="h-adr" novalidate>
                    <span class="p-country-name" style="display:none;">Japan</span>
                    {{ form_widget(form._token) }}
                    <div class="register_form">
                        <ul>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">氏名</label>
                                </div>
                                <div class="content ec-halfInput{{ has_errors(form.name.name01, form.name.name02) ? ' error' }}">
                                    {{ form_widget(form.name.name01, {'attr': { 'placeholder': '姓' }}) }}
                                    {{ form_widget(form.name.name02, {'attr': { 'placeholder': '名' }}) }}
                                    {{ form_errors(form.name.name01) }}
                                    {{ form_errors(form.name.name02) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">フリガナ</label>
                                </div>
                                <div class="content ec-halfInput{{ has_errors(form.kana.kana01, form.kana.kana02) ? ' error' }}">
                                    {{ form_widget(form.kana.kana01, {'attr': { 'placeholder': 'セイ' }}) }}
                                    {{ form_widget(form.kana.kana02, {'attr': { 'placeholder': 'メイ' }}) }}
                                    {{ form_errors(form.kana.kana01) }}
                                    {{ form_errors(form.kana.kana02) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">性別</label>
                                </div>
                                <div class="content ec-radio{{ has_errors(form.sex) ? ' error' }}">
                                    {{ form_widget(form.sex) }}
                                    {{ form_errors(form.sex) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">生年月日</label>
                                </div>
                                <div class="content ec-birth{{ has_errors(form.birth) ? ' error' }}">
                                    {{ form_widget(form.birth) }}
                                    {{ form_errors(form.birth) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">メールアドレス</label>
                                </div>
                                <div class="content ec-input{{ has_errors(form.email) ? ' error' }}">
                                    {{ form_widget(form.email) }}
                                    {{ form_errors(form.email) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">パスワード</label>
                                </div>
                                <div class="content ec-input{{ has_errors(form.plain_password.first) ? ' error' }}">
                                    {{ form_widget(form.plain_password.first, {
                                        'attr': { 'placeholder': '半角英数記号%min%〜%max%文字'|trans({ '%min%': eccube_config.eccube_password_min_len, '%max%': eccube_config.eccube_password_max_len }) },
                                        'type': 'password'
                                    }) }}
                                    {{ form_errors(form.plain_password.first) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">パスワード(再入力)</label>
                                </div>
                                <div class="content ec-input{{ has_errors(form.plain_password.second) ? ' error' }}">
                                    {{ form_widget(form.plain_password.second, {
                                        'attr': { 'placeholder': '確認のためもう一度入力してください'|trans },
                                        'type': 'password'
                                    }) }}
                                    {{ form_errors(form.plain_password.second) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">郵便番号</label>
                                </div>
                                <div class="content ec-zipInput{{ has_errors(form.postal_code) ? ' error' }}">
                                    {{ form_widget(form.postal_code) }}<a href="https://www.post.japanpost.jp/zipcode/" target="_blank" class="btn_zip"><span>{{ '住所検索'|trans }}</span></a>
                                    {{ form_errors(form.postal_code) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">都道府県</label>
                                </div>
                                <div class="content ec-select{{ has_errors(form.address.pref) ? ' error' }}">
                                    {{ form_widget(form.address.pref) }}
                                    {{ form_errors(form.address.pref) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">市区町村</label>
                                </div>
                                <div class="content ec-input{{ has_errors(form.address.addr01) ? ' error' }}">
                                    {{ form_widget(form.address.addr01, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
                                    {{ form_errors(form.address.addr01) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">以降の住所</label>
                                </div>
                                <div class="content ec-input{{ has_errors(form.address.addr02) ? ' error' }}">
                                    {{ form_widget(form.address.addr02, { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
                                    {{ form_errors(form.address.addr02) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">電話番号</label>
                                </div>
                                <div class="content ec-input{{ has_errors(form.phone_number) ? ' error' }}">
                                    {{ form_widget(form.phone_number) }}
                                    {{ form_errors(form.phone_number) }}
                                </div>
                            </li>
                            {# エンティティ拡張の自動出力 #}
                            {% for f in form|filter(f => f.vars.eccube_form_options.auto_render) %}
                                {% if f.vars.eccube_form_options.form_theme %}
                                    {% form_theme f f.vars.eccube_form_options.form_theme %}
                                    {{ form_row(f) }}
                                {% else %}
                                    <li class="form_item">
                                        <div class="head">
                                            {% set label_class =  f.vars.label_attr.class is defined ? f.vars.label_attr.class : '' %}
                                            {{ form_label(f, f.vars.label, { 'label_attr': {'class': label_class ~ ' ec-label' }}) }}
                                        </div>
                                        <div class="content ec-input {{ has_errors(f) ? ' error' }}">
                                            {{ form_widget(f) }}
                                            {{ form_errors(f) }}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <div class="privacy_check ec-checkbox{{ has_errors(form.privacy_check) ? ' error' }}">
                            {{ form_widget(form.privacy_check) }}
                            <label for="entry_privacy_check"><a class="ec-link" href="{{ url('help_privacy') }}" target="_blank" style="text-decoration: underline;">プライバシーポリシー</a>に同意する</label>
                            {{ form_errors(form.privacy_check) }}
                        </div>
                        <div class="c-submit_contain">
                            <button class="c-btn" type="submit" name="mode" value="confirm">送信内容を確認する</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
