{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/style_input.css') }}" type="text/css" />

    <style>        
        #privacy  {
            height: 250px;
            overflow-y: scroll;
            margin-bottom: 20px;
            border: 1px dashed #ccc;
            padding: 5px;
            text-align: left;
        }
        #privacy h3 {
            font-size: 15px;
        }
        #privacy p {
            font-size: 13px;
        }
    </style>
{% endblock %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}

{% block main %}
<div class="c-page_head page_small_width">
    <div class="c-page_title">
        <h1 class="en"><span>SIGN UP</span></h1>
        <p class="jp">新規会員登録</p>
    </div>
</div>
<!--  -->
<main class="main">
    <div class="c-subpage_contain">
        <div class="c-register_top">
            <div class="c-register_title wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                <h2>会員登録</h2>
            </div>
            <div class="c-register_steps wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                <div class="item_step active">
                    <span class="no">1</span>
                    <span class="txt">内容入力</span>
                </div>
                <div class="item_step">
                    <span class="no">2</span>
                    <span class="txt">内容確認</span>
                </div>
                <div class="item_step">
                    <span class="no">3</span>
                    <span class="txt">送信完了</span>
                </div>
            </div>
            {# <div class="c-register_top_introtxt wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                <p>この文章はダミーです文字の大きさ・量・字間・行間等を確認するために入れていますこの文章はダミーです<br> 文字の大きさ・量・字間・行間等を確認するために入れています
                    <br> この文章はダミーです文字の大きさ・量・字間・行間等を確認するために入れています
                </p>
            </div> #}
        </div>

        <div class="p-register_conatin">
            <div class="p-register_form wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                <form method="post" action="{{ url('entry') }}" class="h-adr" novalidate>
                    <span class="p-country-name" style="display:none;">Japan</span>
                    {{ form_widget(form._token) }}
                    <div class="register_form">
                        <ul>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">氏名</label>
                                </div>
                                <div class="content ec-halfInput{{ has_errors(form.name.name01, form.name.name02) ? ' error' }}">
                                    {{ form_widget(form.name.name01, {'attr': { 'placeholder': '姓' }}) }}
                                    {{ form_widget(form.name.name02, {'attr': { 'placeholder': '名' }}) }}
                                    {{ form_errors(form.name.name01) }}
                                    {{ form_errors(form.name.name02) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">フリガナ</label>
                                </div>
                                <div class="content ec-halfInput{{ has_errors(form.kana.kana01, form.kana.kana02) ? ' error' }}">
                                    {{ form_widget(form.kana.kana01, {'attr': { 'placeholder': 'セイ' }}) }}
                                    {{ form_widget(form.kana.kana02, {'attr': { 'placeholder': 'メイ' }}) }}
                                    {{ form_errors(form.kana.kana01) }}
                                    {{ form_errors(form.kana.kana02) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">性別</label>
                                </div>
                                <div class="content ec-radio{{ has_errors(form.sex) ? ' error' }}">
                                    {{ form_widget(form.sex) }}
                                    {{ form_errors(form.sex) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">生年月日</label>
                                </div>
                                <div class="content ec-birth{{ has_errors(form.birth) ? ' error' }}">
                                    {{ form_widget(form.birth) }}
                                    {{ form_errors(form.birth) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">メールアドレス</label>
                                </div>
                                <div class="content ec-input{{ has_errors(form.email.first) ? ' error' }}">
                                    {{ form_widget(form.email.first, {
                                        'attr': { 'oncopy': 'return false', 'oncut': 'return false', 'onpaste': 'return false' }
                                    }) }}
                                    {{ form_errors(form.email.first) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">メールアドレス(再入力)</label>
                                </div>
                                <div class="content ec-input{{ has_errors(form.email.second) ? ' error' }}">
                                    {{ form_widget(form.email.second, {
                                        'attr': { 'oncopy': 'return false', 'oncut': 'return false', 'onpaste': 'return false' }
                                    }) }}
                                    {{ form_errors(form.email.second) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">パスワード</label>
                                </div>
                                <div class="content ec-input{{ has_errors(form.plain_password.first) ? ' error' }}">
                                    {{ form_widget(form.plain_password.first, {
                                        'attr': { 'placeholder': '半角英数記号%min%〜%max%文字'|trans({ '%min%': eccube_config.eccube_password_min_len, '%max%': eccube_config.eccube_password_max_len }) },
                                        'type': 'password'
                                    }) }}
                                    {{ form_errors(form.plain_password.first) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">パスワード(再入力)</label>
                                </div>
                                <div class="content ec-input{{ has_errors(form.plain_password.second) ? ' error' }}">
                                    {{ form_widget(form.plain_password.second, {
                                        'attr': { 'placeholder': '確認のためもう一度入力してください'|trans },
                                        'type': 'password'
                                    }) }}
                                    {{ form_errors(form.plain_password.second) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">郵便番号</label>
                                </div>
                                <div class="content ec-zipInput{{ has_errors(form.postal_code) ? ' error' }}">
                                    {{ form_widget(form.postal_code) }}<a href="https://www.post.japanpost.jp/zipcode/" target="_blank" class="btn_zip"><span>{{ '住所検索'|trans }}</span></a>
                                    {{ form_errors(form.postal_code) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">都道府県</label>
                                </div>
                                <div class="content ec-select{{ has_errors(form.address.pref) ? ' error' }}">
                                    {{ form_widget(form.address.pref) }}
                                    {{ form_errors(form.address.pref) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">市区町村</label>
                                </div>
                                <div class="content ec-input{{ has_errors(form.address.addr01) ? ' error' }}">
                                    {{ form_widget(form.address.addr01, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
                                    {{ form_errors(form.address.addr01) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">以降の住所</label>
                                </div>
                                <div class="content ec-input{{ has_errors(form.address.addr02) ? ' error' }}">
                                    {{ form_widget(form.address.addr02, { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
                                    {{ form_errors(form.address.addr02) }}
                                </div>
                            </li>
                            <li class="form_item">
                                <div class="head">
                                    <span class="required">必須</span><label class="">電話番号</label>
                                </div>
                                <div class="content ec-input{{ has_errors(form.phone_number) ? ' error' }}">
                                    {{ form_widget(form.phone_number) }}
                                    {{ form_errors(form.phone_number) }}
                                </div>
                            </li>
                            {# エンティティ拡張の自動出力 #}
                            {% for f in form|filter(f => f.vars.eccube_form_options.auto_render) %}
                                {% if f.vars.eccube_form_options.form_theme %}
                                    {% form_theme f f.vars.eccube_form_options.form_theme %}
                                    {{ form_row(f) }}
                                {% else %}
                                    <li class="form_item">
                                        <div class="head">
                                            {% set label_class =  f.vars.label_attr.class is defined ? f.vars.label_attr.class : '' %}
                                            {{ form_label(f, f.vars.label, { 'label_attr': {'class': label_class ~ ' ec-label' }}) }}
                                        </div>
                                        <div class="content ec-input {{ has_errors(f) ? ' error' }}">
                                            {{ form_widget(f) }}
                                            {{ form_errors(f) }}
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <div class="privacy_check ec-checkbox{{ has_errors(form.privacy_check) ? ' error' }}">
                            <div id="privacy">
                                <h3>1.個人情報の定義</h3>
                                <p>「個人情報」とは、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの、及び他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものをいいます。</p>
                                <br>

                                <h3>2.個人情報の収集</h3>
                                <p>当ショップでは商品のご購入、お問合せをされた際にお客様の個人情報を収集することがございます。<br> 収集するにあたっては利用目的を明記の上、適法かつ公正な手段によります。
                                </p>
                                <p>当ショップで収集する個人情報は以下の通りです。</p>
                                <p>A)お名前、フリガナ
                                    <br> B)性別
                                    <br> C)生年月日
                                    <br> D)ご住所
                                    <br> E)お電話番号
                                    <br> F)メールアドレス
                                    <br> G)パスワード
                                    <br> H)配送先情報
                                    <br> I)当ショップとのお取引履歴及びその内容
                                    <br> J)上記を組み合わせることで特定の個人が識別できる情報
                                </p>
                                <br>

                                <h3>3.個人情報の利用</h3>
                                <p>当ショップではお客様からお預かりした個人情報の利用目的は以下の通りです。</p>
                                <p>
                                    A)ご注文の確認、照会 <br>
                                    B)商品発送の確認、照会 <br>
                                    C)お問合せの返信時 <br>
                                    D)メルマガ配信時
                                </p>
                                <p>当ショップでは、下記の場合を除いてはお客様の断りなく第三者に個人情報を開示・提供することはいたしません。</p>
                                <p>A)法令に基づく場合、及び国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合<br> B)人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合
                                    <br> C)当ショップを運営する会社の関連会社で個人データを交換する場合
                                </p>
                                <br>

                                <h3>4.個人情報の安全管理</h3>
                                <p>お客様よりお預かりした個人情報の安全管理はサービス提供会社によって合理的、組織的、物理的、人的、技術的施策を講じるとともに、当ショップでは関連法令に準じた適切な取扱いを行うことで個人データへの不正な侵入、個人情報の紛失、改ざん、漏えい等の危険防止に努めます。</p>
                                <br>

                                <h3>5.個人情報の訂正、削除</h3>
                                <p>お客様からお預かりした個人情報の訂正・削除は下記の問合せ先よりお知らせ下さい。<br> また、ユーザー登録された場合、当サイトのメニュー「マイページ」より個人情報の訂正が出来ます。
                                </p>
                                <br>

                                <h3>6.cookie(クッキー)の使用について</h3>
                                <p>当社は、お客様によりよいサービスを提供するため、cookie （クッキー）を使用することがありますが、これにより個人を特定できる情報の収集を行えるものではなく、お客様のプライバシーを侵害することはございません。<br> ※cookie （クッキー）とは、サーバーコンピュータからお客様のブラウザに送信され、お客様が使用しているコンピュータのハードディスクに蓄積される情報です。</p>
                                <br>

                                <h3>7.SSLの使用について</h3>
                                <p>個人情報の入力時には、セキュリティ確保のため、これらの情報が傍受、妨害または改ざんされることを防ぐ目的でSSL（Secure Sockets Layer）技術を使用しております。 ※ SSLは情報を暗号化することで、盗聴防止やデータの改ざん防止送受信する機能のことです。SSLを利用する事でより安全に情報を送信する事が可能となります。</p>
                                <br>

                                <h3>8.お問合せ先</h3>
                                <p>特定商取引法に基づく表記をご覧ください。</p>
                                <br>

                                <h3>9.プライバシーポリシーの変更</h3>
                                <p>当ショップでは、収集する個人情報の変更、利用目的の変更、またはその他プライバシーポリシーの変更を行う際は、当ページへの変更をもって公表とさせていただきます。</p>
                            </div>

                            {{ form_widget(form.privacy_check) }}
                            {# <label for="entry_privacy_check"><a class="ec-link" href="{{ url('help_privacy') }}" target="_blank" style="text-decoration: underline;">プライバシーポリシー</a>に同意する</label> #}
                            <label for="entry_privacy_check">プライバシーポリシーに同意する</label>
                            {{ form_errors(form.privacy_check) }}
                        </div>
                        <div class="c-submit_contain">
                            <button class="c-btn" type="submit" name="mode" value="confirm">送信内容を確認する</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
