{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/subpage.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/subpage_sp.css') }}" type="text/css">

    <style>
        .ec-blockBtn--cancel {
            color: white;
            background: #7FB744;
            display: inline-block;
            padding: 8px 15px;
            border-radius: 4px;
        }
    </style>
{% endblock %}

{% block main %}

<div class="c-page_head page_small_width">
    <div class="c-page_title">
        <h1 class="en"><span>ORDER</span></h1>
        <p class="jp">購入エラー</p>
    </div>
</div>

<!--  -->
<main class="main">
    <div class="page_small_width">
        <!-- アラートメッセージ -->
        {{ include('Shopping/alert.twig', { 'error_only': true }) }}
        
        <div class="c-btn_group">
            <div class="c-btn_cancel">
                <a class="ec-blockBtn--cancel" href="{{ url('cart') }}">{{ 'カートに戻る'|trans }}</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
