{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/subpage.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/subpage_sp.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/cart.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/style_input.css') }}" type="text/css" />

    <style>
        #cart_shipping_address label::after {
            content: '\a';
            white-space: pre;
        }
        
        .visually-hidden {
            display: none;
        }
        .content .invalid-feedback {
            font-size: 12px;
            font-weight: bold;
            color: #DE5D50;
        }
    </style>
{% endblock %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
{% endblock javascript %}

{% block main %}
<div class="c-page_head page_small_width">
    <div class="c-page_title">
        <h1 class="en"><span>ORDER</span></h1>
        <p class="jp">ご注文内容</p>
    </div>
</div>

<!--  -->
<main class="main">
    {% set cartKey = '' %}
    <div class="page_small_width">
        <div class="p-order_contain">
            <form name="form" id="form_cart" class="ec-cartRole" method="post" action="{{ url('cart') }}">
                <div class="p-cart_body wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                    <span class="p-country-name" style="display:none;">Japan</span>
                    {{ form_widget(form._token) }}
                    {% for CartIndex,Cart in Carts %}
                        {% set cartKey = Cart.cart_key %}
                        {% for error in app.session.flashbag.get('eccube.front.cart.' ~ cartKey ~ '.request.error') %}
                            <div class="ec-cartRole__error">
                                <div class="ec-alert-warning">
                                    <div class="ec-alert-warning__icon"><img src="{{ asset('assets/icon/exclamation-white.svg') }}"></div>
                                    <div class="ec-alert-warning__text">
                                        {{ error|trans|nl2br }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="ec-cartRole__cart">
                            <div class="ec-cartTable">
                                <ol class="ec-cartHeader">
                                    <li class="ec-cartHeader__label">{{ '削除'|trans }}</li>
                                    <li class="ec-cartHeader__label">{{ '商品内容'|trans }}</li>
                                    <li class="ec-cartHeader__label">{{ '数量'|trans }}</li>
                                    <li class="ec-cartHeader__label">{{ '小計'|trans }}</li>
                                </ol>
                                {% for CartItem in Cart.CartItems %}
                                    {% set ProductClass = CartItem.ProductClass %}
                                    {% set Product = ProductClass.Product %}
                                    <ul class="ec-cartRow">
                                        <li class="ec-cartRow__delColumn">
                                            <a href="{{ url('cart_handle_item', {'operation': 'remove', 'productClassId': ProductClass.id, 'pageName': 'cart_confirm' }) }}" {{ csrf_token_for_anchor() }} class="ec-icon" data-method="put" data-message="カートから商品を削除してもよろしいですか?">
                                                <img src="{{ asset('assets/icon/cross.svg') }}" alt="delete">
                                            </a>
                                        </li>
                                        <li class="ec-cartRow__contentColumn">
                                            <div class="ec-cartRow__img">
                                                <a target="_blank" href="{{ url('product_detail', {id : Product.id} ) }}">
                                                    {% if CartItem.property is not empty %}
                                                        {% set properties = Product.color|split('/') %}
                                                        {% set propertyIndex = properties|keys|filter(item => properties[item] == CartItem.property)|first %}
                                                        <img src="{{ asset(Product.ProductImage[propertyIndex].file_name|no_image_product, 'save_image') }}" alt="{{ Product.name }}"/>
                                                    {% else %}
                                                        <img src="{{ asset(Product.MainListImage|no_image_product, 'save_image') }}" alt="{{ Product.name }}"/>
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="ec-cartRow__summary">
                                                <div class="ec-cartRow__name">
                                                    <a target="_blank" href="{{ url('product_detail', {id : Product.id} ) }}">{{ Product.name }}</a>
                                                    {% if ProductClass.ClassCategory1 and ProductClass.ClassCategory1.id %}
                                                        <br>{{ ProductClass.ClassCategory1.ClassName.name }}：{{ ProductClass.ClassCategory1 }}
                                                    {% endif %}
                                                    {% if ProductClass.ClassCategory2 and ProductClass.ClassCategory2.id %}
                                                        <br>{{ ProductClass.ClassCategory2.ClassName.name }}：{{ ProductClass.ClassCategory2 }}
                                                    {% endif %}
                                                </div>
                                                <div class="ec-cartRow__unitPrice">{{ CartItem.price|price }}</div>
                                                <div class="ec-cartRow__sutbtotalSP">{{ '小計：'|trans }}{{ CartItem.total_price|price }}</div>
                                            </div>
                                        </li>
                                        <li class="ec-cartRow__amountColumn">
                                            <div class="ec-cartRow__amount">{{ CartItem.quantity|number_format }}</div>
                                            <div class="ec-cartRow__amountSP">{{ '数量：'|trans }}{{ CartItem.quantity|number_format }}</div>
                                            <div class="ec-cartRow__amountUpDown">
                                                {% if CartItem.quantity > 1 %}
                                                    <a href="{{ url('cart_handle_item', {'operation': 'down', 'productClassId': ProductClass.id, 'pageName': 'cart_confirm'}) }}" {{ csrf_token_for_anchor() }} class="ec-cartRow__amountDownButton load-overlay" data-method="put" data-confirm="false">
                                                        <span class="ec-cartRow__amountDownButton__icon"><img src="{{ asset('assets/icon/minus-dark.svg') }}" alt="reduce"></span>
                                                    </a>
                                                {% else %}
                                                    <div class="ec-cartRow__amountDownButtonDisabled">
                                                        <span class="ec-cartRow__amountDownButton__icon"><img src="{{ asset('assets/icon/minus.svg') }}" alt="reduce"></span>
                                                    </div>
                                                {% endif %}
                                                <a href="{{ url('cart_handle_item', {'operation': 'up', 'productClassId': ProductClass.id, 'pageName': 'cart_confirm'}) }}" {{ csrf_token_for_anchor() }} class="ec-cartRow__amountUpButton load-overlay" data-method="put" data-confirm="false">
                                                    <span class="ec-cartRow__amountUpButton__icon"><img src="{{ asset('assets/icon/plus-dark.svg') }}" alt="increase"></span>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="ec-cartRow__subtotalColumn">
                                            <div class="ec-cartRow__sutbtotal">{{ CartItem.total_price|price }}</div>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="ec-cartRole__progress">
                            {% if BaseInfo.delivery_free_amount and BaseInfo.delivery_free_quantity %}
                                <br/>
                                {% if is_delivery_free[cartKey] %}
                                    {{ '現在送料無料です。'|trans }}
                                {% else %}
                                    {{ 'あと「<strong>%price%</strong>」または「<strong>%quantity%個</strong>」のお買い上げで<strong class="ec-color-red">送料無料</strong>になります。'|trans({ '%price%': least[cartKey]|price, '%quantity%': quantity[cartKey]|number_format })|raw }}
                                {% endif %}
                            {% elseif BaseInfo.delivery_free_amount %}
                                <br/>
                                {% if is_delivery_free[cartKey] %}
                                    {{ '現在送料無料です。'|trans }}
                                {% else %}
                                    {{ 'あと「<strong>%price%</strong>」のお買い上げで<strong class="ec-color-red">送料無料</strong>になります。'|trans({ '%price%': least[cartKey]|price })|raw }}
                                {% endif %}
                            {% elseif BaseInfo.delivery_free_quantity %}
                                <br/>
                                {% if is_delivery_free[cartKey] %}
                                    {{ '現在送料無料です。'|trans }}
                                {% else %}
                                    {{ 'あと「<strong>%quantity%個</strong>」のお買い上げで<strong class="ec-color-red">送料無料</strong>になります。'|trans({ '%quantity%': quantity[cartKey]|number_format })|raw }}
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="p-order_body">
                    <div class="c-register_top">
                        <div class="c-register_title wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                            <h2>お客様情報入力</h2>
                        </div>
                        <div class="c-register_steps wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                            <div class="item_step active">
                                <span class="no">1</span>
                                <span class="txt">内容入力</span>
                            </div>
                            <div class="item_step active">
                                <span class="no">2</span>
                                <span class="txt">内容確認</span>
                            </div>
                            <div class="item_step">
                                <span class="no">3</span>
                                <span class="txt">送信完了</span>
                            </div>
                        </div>
                    </div>
                    <div class="p-order_conatin">
                        <div class="p-register_form">
                            <!-- お客様情報入力 -->
                            <div class="p-orederform_sec customer_input wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                                <ul>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">氏名</label>
                                        </div>
                                        <div class="content">
                                            {{ form.customer.name.name01.vars.data ~ form.customer.name.name02.vars.data }}
                                            {{ form_widget(form.customer.name.name01, { type : 'hidden' }) }}
                                            {{ form_widget(form.customer.name.name02, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">フリガナ</label>
                                        </div>
                                        <div class="content">
                                            {{ form.customer.kana.kana01.vars.data ~ form.customer.kana.kana02.vars.data }}
                                            {{ form_widget(form.customer.kana.kana01, { type : 'hidden' }) }}
                                            {{ form_widget(form.customer.kana.kana02, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">性別</label>
                                        </div>
                                        <div class="content">
                                            {{ form.customer.sex.vars.data }}
                                            {{ form_widget(form.customer.sex, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">生年月日</label>
                                        </div>
                                        <div class="content">
                                            {{ form.customer.birth.vars.data ? form.customer.birth.vars.data|date_day() }}
                                            {{ form_widget(form.customer.birth.year, { type : 'hidden' }) }}
                                            {{ form_widget(form.customer.birth.month, { type : 'hidden' }) }}
                                            {{ form_widget(form.customer.birth.day, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">メールアドレス</label>
                                        </div>
                                        <div class="content">
                                            {{ form.customer.email.vars.data }}
                                            {{ form_widget(form.customer.email, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    {% if app.user is empty %}
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">パスワード</label>
                                            </div>
                                            <div class="content">
                                                ********
                                                {{ form_widget(form.customer.plain_password.first, { type : 'hidden' }) }}
                                                {{ form_widget(form.customer.plain_password.second, { type : 'hidden' }) }}
                                            </div>
                                        </li>
                                    {% else %}
                                        {{ form_widget(form.customer.plain_password.first, { type : 'hidden' }) }}
                                        {{ form_widget(form.customer.plain_password.second, { type : 'hidden' }) }}
                                    {% endif %}
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">郵便番号</label>
                                        </div>
                                        <div class="content">
                                            {{ form.customer.postal_code.vars.data }}
                                            {{ form_widget(form.customer.postal_code, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">都道府県</label>
                                        </div>
                                        <div class="content">
                                            {{ form.customer.address.pref.vars.data }}
                                            {{ form_widget(form.customer.address.pref, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">市区町村</label>
                                        </div>
                                        <div class="content">
                                            {{ form.customer.address.addr01.vars.data }}
                                            {{ form_widget(form.customer.address.addr01, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">以降の住所</label>
                                        </div>
                                        <div class="content">
                                            {{ form.customer.address.addr02.vars.data }}
                                            {{ form_widget(form.customer.address.addr02, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">電話番号</label>
                                        </div>
                                        <div class="content">
                                            {{ form.customer.phone_number.vars.data }}
                                            {{ form_widget(form.customer.phone_number, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">任意</span><label class="">会員登録の有無</label>
                                        </div>
                                        <div class="content">
                                            {% if form.is_member.vars.data %}
                                                登録する
                                            {% else %}
                                                登録しない
                                            {% endif %}
                                        </div>
                                    </li>
                                </ul>
                                {{ form_widget(form.is_member, { type : 'hidden' }) }}
                                {{ form_widget(form.shipping_address, { type : 'hidden' }) }}
                                {{ form_widget(form.privacy_check, { type: 'hidden'}) }}
                            </div>
                            <!-- お届け先情報入力 -->
                            <div class="p-orederform_sec customer_input wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                                <div class="c-register_title">
                                    <h2>お届け先情報入力</h2>
                                </div>
                                <ul>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">氏名</label>
                                        </div>
                                        <div class="content">
                                            {{ form.shipping.name.name01.vars.data ~ form.shipping.name.name02.vars.data }}
                                            {{ form_widget(form.shipping.name.name01, { type : 'hidden' }) }}
                                            {{ form_widget(form.shipping.name.name02, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">フリガナ</label>
                                        </div>
                                        <div class="content">
                                            {{ form.shipping.kana.kana01.vars.data ~ form.shipping.kana.kana02.vars.data }}
                                            {{ form_widget(form.shipping.kana.kana01, { type : 'hidden' }) }}
                                            {{ form_widget(form.shipping.kana.kana02, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">郵便番号</label>
                                        </div>
                                        <div class="content">
                                            {{ form.shipping.postal_code.vars.data }}
                                            {{ form_widget(form.shipping.postal_code, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">都道府県</label>
                                        </div>
                                        <div class="content">
                                            {{ form.shipping.address.pref.vars.data }}
                                            {{ form_widget(form.shipping.address.pref, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">市区町村</label>
                                        </div>
                                        <div class="content">
                                            {{ form.shipping.address.addr01.vars.data }}
                                            {{ form_widget(form.shipping.address.addr01, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">以降の住所</label>
                                        </div>
                                        <div class="content">
                                            {{ form.shipping.address.addr02.vars.data }}
                                            {{ form_widget(form.shipping.address.addr02, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">電話番号</label>
                                        </div>
                                        <div class="content">
                                            {{ form.shipping.phone_number.vars.data }}
                                            {{ form_widget(form.shipping.phone_number, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                            <!-- クレジットカード情報入力 -->
                            <div class="p-orederform_sec h-adr customer_input wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                                <input type='hidden' value='{{ token }}' name='token' id="token" />
                                {{ form_widget(form.credit.token) }}
                                {{ form_widget(form.credit.contract_code) }}
                                <div class="c-register_title">
                                    <h2>クレジットカード情報入力</h2>
                                </div>
                                <ul>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">カード番号</label>
                                        </div>
                                        <div class="content">
                                            ********{{ form.credit.credit_card_number.vars.data|slice(-4) }}
                                            {{ form_widget(form.credit.credit_card_number, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">有効期限</label>
                                        </div>
                                        <div class="content">
                                            {{ form.credit.expiration_year.vars.data }}年 {{ form.credit.expiration_month.vars.data }}月
                                            {{ form_widget(form.credit.expiration_year, { type : 'hidden' }) }}
                                            {{ form_widget(form.credit.expiration_month, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">名義人</label>
                                        </div>
                                        <div class="content">
                                            {{ form.credit.holder_name.vars.data }}
                                            {{ form_widget(form.credit.holder_name, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                    <li class="form_item">
                                        <div class="head">
                                            <span class="required">必須</span><label class="">セキュリティコード</label>
                                        </div>
                                        <div class="content">
                                            ****
                                            {{ form_widget(form.credit.security_code, { type : 'hidden' }) }}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="c-btn_group wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                        <div class="c-btn_left">
                            <a href="{{ path('cart') }}" class="c-btn">キャンセルする</a>
                        </div>
                        <div class="c-btn_rigth">
                            <input type="hidden" name="cart_key" value="{{ cartKey }}" />
                            <button class="c-btn" type="submit" name="mode" value="complete">この内容で購入する</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}
