{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'cart_page' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/subpage.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/subpage_sp.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/cart.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/style_input.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('assets/css/modal.css') }}" type="text/css" />
    <style>
        #cart_shipping_address label::after {
            content: '\a';
            white-space: pre;
        }
        
        .visually-hidden {
            display: none;
        }
        .content .invalid-feedback {
            font-size: 12px;
            font-weight: bold;
            color: #DE5D50;
        }

        .ec-modal .c-btn_group {
            margin: 20px auto 0;
            gap: 20px;
        }

        .c-btn_next .c-btn {
            height: 40px;
            border: unset;
            border-radius: 3px;
            background: #8bb655;
            font-family: "Yu Gothic";
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: white;
        }
        .c-btn_cancel .c-btn {
            width: 100px;
            height: 40px;
            border: unset;
            border-radius: 3px;
            background: #c8c8c8;
            font-family: "Yu Gothic";
            font-weight: bold;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: white;
        }

        .content .example {
            margin-top: 2px;
            text-align: right;
            color: #7FB744;
        }

        .content.ec-halfInput .example {
            width: 50%;
        }

        .card-group .cards {
            margin: 20px auto 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        #privacy  {
            height: 250px;
            overflow-y: scroll;
            margin-bottom: 20px;
            border: 1px dashed #ccc;
            padding: 5px;
            text-align: left;
            color: black;
        }
        #privacy h3 {
            font-size: 15px;
        }
        #privacy p {
            font-size: 13px;
        }

        #open-security-code-modal {
            color: #7FB744;
        }
        #open-security-code-modal:hover {
            color: #648746;
            cursor: pointer;
        }

        #security-code-modal h3 {
            font-family: "Source Han Sans JP";
            font-weight: 500;
            font-size: 30px;
            line-height: 28px;
            text-align: center;
            color: #4e4e4e;
        }

        #security-code-modal .code-images {
            margin: 40px auto 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 40px;
        }
        #security-code-modal .code-images .image {
            width: 300px;
            margin: auto;
        }
        #security-code-modal .code-images p {
            margin-top: 10px;
            text-align: center;
        }

        .cs-cartRole__prices {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            justify-content: end;
        }

        .cs-cartRole__prices .cs-cartRole__price {
            width: 100%;
            max-width: 350px;
            margin-left: auto;
        }
        
        .cs-cartRole__prices .cs-cartRole__price label {
            width: 200px;
            display: inline-block;
            font-family: "Source Han Sans JP";
            font-size: 15px;
            line-height: 20px;
            text-align: right;
        }
        
        .cs-cartRole__prices .cs-cartRole__price span {
            margin-left: 20px;
            font-family: "Source Han Sans JP";
            font-size: 22px;
            line-height: 25px;
        }
        
        .cs-cartRole__prices .cs-cartRole__price.delivery-fee {
            border-bottom: 1px solid #ebebeb;
            padding-bottom: 15px;
        }
        
        .cs-cartRole__prices .cs-cartRole__price.delivery-fee .free {
            color: red;
        }

        .cs-cartRole__prices .cs-cartRole__price.payment-total {
            padding-top: 15px;
        }

        .cs-cartRole__prices .cs-cartRole__price.payment-total label,
        .cs-cartRole__prices .cs-cartRole__price.payment-total span, {
            font-family: bold;
        }

        @media only screen and (min-width: 768px) {
            .ec-modal .ec-modal-box {
                padding: 20px;
            }
            
            .card-group .cards {
                gap: 5px;
            }
        }

        @media only screen and (max-width: 768px) {
            #security-code-modal .code-images {
                margin: 20px auto;
                gap: 20px;
            }
            #security-code-modal .code-images .image {
                width: 200px;
            }
            #security-code-modal h3 {
                font-size: 22px;
            }
            #security-code-modal p {
                font-size: 13px;
            }
            .cs-cartRole__prices .cs-cartRole__price label {
                width: 160px;
            }
        }
    </style>
{% endblock %}

{% block javascript %}
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>

    <script>
        function copyToDeliver() {
            $("#{{form.shipping.name.name01.vars.id }}").val($("#{{ form.customer.name.name01.vars.id }}").val());
            $("#{{form.shipping.name.name02.vars.id }}").val($("#{{ form.customer.name.name02.vars.id }}").val());
            $("#{{form.shipping.kana.kana01.vars.id }}").val($("#{{ form.customer.kana.kana01.vars.id }}").val());
            $("#{{form.shipping.kana.kana02.vars.id }}").val($("#{{ form.customer.kana.kana02.vars.id }}").val());
            $("#{{form.shipping.postal_code.vars.id }}").val($("#{{ form.customer.postal_code.vars.id }}").val());
            $("#{{form.shipping.address.pref.vars.id }}").val($("#{{ form.customer.address.pref.vars.id }}").val());
            $("#{{form.shipping.address.addr01.vars.id }}").val($("#{{ form.customer.address.addr01.vars.id }}").val());
            $("#{{form.shipping.address.addr02.vars.id }}").val($("#{{ form.customer.address.addr02.vars.id }}").val());
            $("#{{form.shipping.phone_number.vars.id }}").val($("#{{ form.customer.phone_number.vars.id }}").val());
        }
        function clearDeliver() {
            $("#{{form.shipping.name.name01.vars.id }}").val('');
            $("#{{form.shipping.name.name02.vars.id }}").val('');
            $("#{{form.shipping.kana.kana01.vars.id }}").val('');
            $("#{{form.shipping.kana.kana02.vars.id }}").val('');
            $("#{{form.shipping.postal_code.vars.id }}").val('');
            $("#{{form.shipping.address.pref.vars.id }}").val('');
            $("#{{form.shipping.address.addr01.vars.id }}").val('');
            $("#{{form.shipping.address.addr02.vars.id }}").val('');
            $("#{{form.shipping.phone_number.vars.id }}").val('');
        }

        $(function() {
            var subTotal = '{{ subTotal|price }}';
            var paymentTotalWithDeliv = '{{ (subTotal + 550)|price }}';
            var is_user = false;
            {% if app.user is not empty %}
                is_user = true;
            {% endif %}

            function isMember( first_lodaing = false ) {
                if ($('#cart_is_member_0').is(':checked')) {
                    if ( !is_user ) {
                        $('#cart_customer_plain_password_first').val('');
                        $('#cart_customer_plain_password_second').val('');
                    }

                    $('.delivery-fee span').text('送料無料');
                    $('.payment-total span').text(subTotal);
                    
                    $('.toggle-by-member').removeClass('any');
                    $('.plain_password').show();
                    $('.delivery-fee span').addClass('free');
                }
                
                if ($('#cart_is_member_1').is(':checked')) {
                    $(this).val(0);
                    
                    $('#cart_customer_plain_password_first').val('dla20191215!A');
                    $('#cart_customer_plain_password_second').val('dla20191215!A');

                    $('.delivery-fee span').text('￥550');
                    $('.payment-total span').text(paymentTotalWithDeliv);
                    $('.toggle-by-member').addClass('any');

                    $('.plain_password').hide();
                    $('.delivery-fee span').removeClass('free');

                    if ( !first_lodaing ) {
                        $('#delivery-fee-modal').show();
                    }
                }
                
                if ( $('.toggle-by-member').hasClass('any') ) {
                    $('.toggle-by-member').text('任意');
                } else {
                    $('.toggle-by-member').text('必須');
                }
            }

            $('#cart_is_member').on('change', function() {
                // 性別 | 生年月日の「必須/任意」変更
                $('.toggle-by-member').toggleClass('any');

                // パスワードの「必須/任意」変更
                // $('.plain_password').toggle();
                // $('.delivery-fee span').toggleClass('free');

                isMember();
            });

            $('#open-security-code-modal').on('click', function() {
                $('#security-code-modal').show();
            });

            $('.ec-modal-close, .ec-modal .ec-inlineBtn--cancel').on('click', function() {
                $('.ec-modal').hide();
            });

            $('input[name="cart[shipping_address]"]').on('change', function(){
                if ( $(this).val() == 0 ) {
                    // 登録の住所に届ける
                    copyToDeliver();
                } else {
                    //  登録以外の住所に届ける
                    clearDeliver();
                }
            });
        
            isMember( true );
        });

        if ( $('#cart_shipping_address_0').is(':checked') ) {
            copyToDeliver();
        }
    </script>

    <script src='{{ url_token_js }}'></script>
    <script>
        {# トークンを送信 #}
        const gmo_token_error_messages = {
            "100" : "カード番号に数字以外の文字が含まれています",
            "101" : "カード番号の桁数が正しくありません",
            "110" : "有効期限が入力されていません",
            "111" : "有効期限に数値以外の文字が含まれています",
            "112" : "有効期限は6又は4ケタで指定してください",
            "113" : "有効期限は有効な年月を指定してください",
            "121" : "セキュリティコードに数字以外の文字が含まれています",
            "122" : "セキュリティコードは4桁以内で指定してください",
            "131" : "名義人に無効な文字が含まれています",
            "132" : "名義人は50桁以内で指定してください",
        };

        const gmo_token_error_element = {
            "100" : "credit_card_number",
            "101" : "credit_card_number",
            "110" : "expiration_month",
            "111" : "expiration_month",
            "112" : "expiration_month",
            "113" : "expiration_month",
            "121" : "security_code",
            "122" : "security_code",
            "131" : "holder_name",
            "132" : "holder_name",
        };

        function getErrorMessage(error_code) {
            if (typeof gmo_token_error_messages[error_code] == null) {
                return  + "決済エラーです。";
            } else {
                return gmo_token_error_messages[error_code];
            }
        }

        function execTrade(response) {
            if (response.resultCode != '000') {
                document.getElementById('cart_credit_token').value = '';
                alert(getErrorMessage(response.resultCode)); // エラーの場合

                return;
            } else {
                document.getElementById('cart_credit_token').value = response.tokenObject.token;
                document.getElementById('form_cart').submit();
            }
        }
        $(function() {
            $('.c-btn_rigth button[type="submit"]').on('click', function(e) {
                e.preventDefault();
                var cardObj = {};
                var year = document.getElementById('cart_credit_expiration_year').value;
                var month = ('00' + document.getElementById('cart_credit_expiration_month').value).slice(-2)
                cardObj.cardno = document.getElementById('cart_credit_credit_card_number').value;
                cardObj.expire = year + month;
                cardObj.securitycode = document.getElementById('cart_credit_security_code').value;
                cardObj.holdername = document.getElementById('cart_credit_holder_name').value;
                EpsilonToken.init(document.getElementById("cart_credit_contract_code").value);
                EpsilonToken.getToken(cardObj, execTrade);
            });
        });
    </script>
{% endblock javascript %}

{% block main %}
<div class="c-page_head page_small_width">
    <div class="c-page_title">
        <h1 class="en"><span>ORDER</span></h1>
        <p class="jp">ご注文内容</p>
    </div>
</div>

<!--  -->
<main class="main">
    <div class="page_small_width">
        <div class="p-order_contain">
            {% if totalQuantity > 0 %}
                <form name="form" id="form_cart" class="ec-cartRole" method="post" action="{{ url('cart') }}">
                    <input type="hidden" name="mode" value="confirm" />
                    <div class="p-cart_body wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                        {{ form_widget(form._token) }}
                        {% for CartIndex,Cart in Carts %}
                            {% set cartKey = Cart.cart_key %}
                            {% for error in app.session.flashbag.get('eccube.front.cart.' ~ cartKey ~ '.request.error') %}
                                <div class="ec-cartRole__error">
                                    <div class="ec-alert-warning">
                                        <div class="ec-alert-warning__icon"><img src="{{ asset('assets/icon/exclamation-white.svg') }}"></div>
                                        <div class="ec-alert-warning__text">
                                            {{ error|trans|nl2br }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="ec-cartRole__cart">
                                <div class="ec-cartTable">
                                    <ol class="ec-cartHeader">
                                        <li class="ec-cartHeader__label">{{ '商品内容'|trans }}</li>
                                        <li class="ec-cartHeader__label">{{ '数量'|trans }}</li>
                                        <li class="ec-cartHeader__label">{{ '小計'|trans }}</li>
                                        <li class="ec-cartHeader__label">{{ '削除'|trans }}</li>
                                    </ol>
                                    {% for CartItem in Cart.CartItems %}
                                        {% set ProductClass = CartItem.ProductClass %}
                                        {% set Product = ProductClass.Product %}
                                        <ul class="ec-cartRow">
                                            <li class="ec-cartRow__contentColumn">
                                                <div class="ec-cartRow__img">
                                                    <a target="_blank" href="{{ url('product_detail', {id : Product.id} ) }}">
                                                        {# {% if CartItem.property is not empty %}
                                                            {% set properties = Product.color|split('/') %}
                                                            {% set propertyIndex = properties|keys|filter(item => properties[item] == CartItem.property)|first %}
                                                            <img src="{{ asset(Product.ProductImage[propertyIndex].file_name|no_image_product, 'save_image') }}" alt="{{ Product.name }}"/>
                                                        {% else %}
                                                            <img src="{{ asset(Product.MainListImage|no_image_product, 'save_image') }}" alt="{{ Product.name }}"/>
                                                        {% endif %} #}
                                                        
                                                        {% if Product.getClassCategories1|length %}
                                                            {% set array = [] %}
                                                            {% for value in Product.getClassCategories1 %}
                                                                {% set array = array|merge([value]) %}
                                                            {% endfor %}
                                                            {% set index = array|keys|filter(item => array[item] == ProductClass.ClassCategory1.name)|first %}
                                                            <img src="{{ asset(Product.ProductImage[index + 1].file_name|no_image_product, 'save_image') }}" alt="{{ Product.name }}"/>
                                                        {% else %}
                                                            <img src="{{ asset(Product.MainListImage|no_image_product, 'save_image') }}" alt="{{ Product.name }}"/>
                                                        {% endif %}
                                                    </a>
                                                </div>
                                                <div class="ec-cartRow__summary">
                                                    <div class="ec-cartRow__name">
                                                        <a target="_blank" href="{{ url('product_detail', {id : Product.id} ) }}">{{ Product.name }}</a>
                                                        {% if ProductClass.ClassCategory1 and ProductClass.ClassCategory1.id %}
                                                            <br>{{ ProductClass.ClassCategory1.ClassName.name }}：{{ ProductClass.ClassCategory1 }}
                                                        {% endif %}
                                                        {% if ProductClass.ClassCategory2 and ProductClass.ClassCategory2.id %}
                                                            <br>{{ ProductClass.ClassCategory2.ClassName.name }}：{{ ProductClass.ClassCategory2 }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="ec-cartRow__unitPrice">{{ CartItem.price|price }}</div>
                                                    <div class="ec-cartRow__sutbtotalSP">{{ '小計：'|trans }}{{ CartItem.total_price|price }}</div>
                                                </div>
                                            </li>
                                            <li class="ec-cartRow__amountColumn">
                                                <div class="ec-cartRow__amount">{{ CartItem.quantity|number_format }}</div>
                                                <div class="ec-cartRow__amountSP">{{ '数量：'|trans }}{{ CartItem.quantity|number_format }}</div>
                                                <div class="ec-cartRow__amountUpDown">
                                                    {% if CartItem.quantity > 1 %}
                                                        <a href="{{ url('cart_handle_item', {'operation': 'down', 'productClassId': ProductClass.id, 'pageName': 'cart'}) }}" {{ csrf_token_for_anchor() }} class="ec-cartRow__amountDownButton load-overlay" data-method="put" data-confirm="false">
                                                            <span class="ec-cartRow__amountDownButton__icon"><img src="{{ asset('assets/icon/minus-dark.svg') }}" alt="reduce"></span>
                                                        </a>
                                                    {% else %}
                                                        <div class="ec-cartRow__amountDownButtonDisabled">
                                                            <span class="ec-cartRow__amountDownButton__icon"><img src="{{ asset('assets/icon/minus.svg') }}" alt="reduce"></span>
                                                        </div>
                                                    {% endif %}
                                                    <a href="{{ url('cart_handle_item', {'operation': 'up', 'productClassId': ProductClass.id, 'pageName': 'cart'}) }}" {{ csrf_token_for_anchor() }} class="ec-cartRow__amountUpButton load-overlay" data-method="put" data-confirm="false">
                                                        <span class="ec-cartRow__amountUpButton__icon"><img src="{{ asset('assets/icon/plus-dark.svg') }}" alt="increase"></span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li class="ec-cartRow__subtotalColumn">
                                                <div class="ec-cartRow__sutbtotal">{{ CartItem.total_price|price }}</div>
                                            </li>
                                            <li class="ec-cartRow__delColumn">
                                                <a href="{{ url('cart_handle_item', {'operation': 'remove', 'productClassId': ProductClass.id, 'pageName': 'cart' }) }}" {{ csrf_token_for_anchor() }} class="ec-icon" data-method="put" data-message="カートから商品を削除してもよろしいですか?">
                                                    <span style="margin-bottom: 10px; display: inline-block; font-size: 14px;">削除</span>
                                                    <img src="{{ asset('assets/icon/cross.svg') }}" alt="delete">
                                                </a>
                                            </li>
                                        </ul>
                                    {% endfor %}
                                </div>
                                <div class="cs-cartRole__prices">
                                    <div class="cs-cartRole__price subtotal">
                                        <label>小計</label>
                                        <span>{{ subTotal|price }}</span>
                                    </div>
                                    <div class="cs-cartRole__price delivery-fee">
                                        <label>送料</label>
                                        <span class="free">送料無料</span>
                                    </div>
                                    <div class="cs-cartRole__price payment-total">
                                        <label>お支払い金額</label>
                                        <span>{{ subTotal|price }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ec-cartRole__progress">
                                {% if BaseInfo.delivery_free_amount and BaseInfo.delivery_free_quantity %}
                                    <br/>
                                    {% if is_delivery_free[cartKey] %}
                                        {{ '現在送料無料です。'|trans }}
                                    {% else %}
                                        {{ 'あと「<strong>%price%</strong>」または「<strong>%quantity%個</strong>」のお買い上げで<strong class="ec-color-red">送料無料</strong>になります。'|trans({ '%price%': least[cartKey]|price, '%quantity%': quantity[cartKey]|number_format })|raw }}
                                    {% endif %}
                                {% elseif BaseInfo.delivery_free_amount %}
                                    <br/>
                                    {% if is_delivery_free[cartKey] %}
                                        {{ '現在送料無料です。'|trans }}
                                    {% else %}
                                        {{ 'あと「<strong>%price%</strong>」のお買い上げで<strong class="ec-color-red">送料無料</strong>になります。'|trans({ '%price%': least[cartKey]|price })|raw }}
                                    {% endif %}
                                {% elseif BaseInfo.delivery_free_quantity %}
                                    <br/>
                                    {% if is_delivery_free[cartKey] %}
                                        {{ '現在送料無料です。'|trans }}
                                    {% else %}
                                        {{ 'あと「<strong>%quantity%個</strong>」のお買い上げで<strong class="ec-color-red">送料無料</strong>になります。'|trans({ '%quantity%': quantity[cartKey]|number_format })|raw }}
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="p-order_body">
                        <div class="c-register_top">
                            <div class="c-register_title wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                                <h2>お客様情報入力</h2>
                            </div>
                            <div class="c-register_steps wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                                <div class="item_step active">
                                    <span class="no">1</span>
                                    <span class="txt">内容入力</span>
                                </div>
                                <div class="item_step">
                                    <span class="no">2</span>
                                    <span class="txt">内容確認</span>
                                </div>
                                <div class="item_step">
                                    <span class="no">3</span>
                                    <span class="txt">送信完了</span>
                                </div>
                            </div>
                        </div>
                        <div class="p-order_conatin">
                            <div class="p-register_form">
                                <p style="color: red; text-align: center;">「ブラウザバック」を行うと表示に誤作動を生じる場合がございますのでご注意下さい。</p>
                                <!-- お客様情報入力 -->
                                <div class="p-orederform_sec h-adr customer_input wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                                    <span class="p-country-name" style="display:none;">Japan</span>
                                    <ul>
                                        {% if app.user is empty %}
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="any">任意</span><label class="">会員登録の有無</label>
                                            </div>
                                            <div class="content ec-radio{{ has_errors(form.is_member) ? ' error' }}">
                                                {{ form_widget(form.is_member) }}
                                                {{ form_errors(form.is_member) }}
                                            </div>
                                        </li>
                                        {% endif %}
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">氏名</label>
                                            </div>
                                            <div class="content ec-halfInput{{ has_errors(form.customer.name.name01, form.customer.name.name02) ? ' error' }}">
                                                {{ form_widget(form.customer.name.name01, {'attr': { 'placeholder': '姓' }}) }}
                                                {{ form_widget(form.customer.name.name02, {'attr': { 'placeholder': '名' }}) }}
                                                {{ form_errors(form.customer.name.name01) }}
                                                {{ form_errors(form.customer.name.name02) }}
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">フリガナ</label>
                                            </div>
                                            <div class="content ec-halfInput{{ has_errors(form.customer.kana.kana01, form.customer.kana.kana02) ? ' error' }}">
                                                {{ form_widget(form.customer.kana.kana01, {'attr': { 'placeholder': 'セイ' }}) }}
                                                {{ form_widget(form.customer.kana.kana02, {'attr': { 'placeholder': 'メイ' }}) }}
                                                {{ form_errors(form.customer.kana.kana01) }}
                                                {{ form_errors(form.customer.kana.kana02) }}
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="toggle-by-member">任意</span><label class="">性別</label>
                                            </div>
                                            <div class="content ec-radio{{ has_errors(form.customer.sex) ? ' error' }}">
                                                {{ form_widget(form.customer.sex) }}
                                                {{ form_errors(form.customer.sex) }}
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="toggle-by-member">任意</span><label class="">生年月日</label>
                                            </div>
                                            <div class="content ec-birth{{ has_errors(form.customer.birth) ? ' error' }}">
                                                {{ form_widget(form.customer.birth) }}
                                                {{ form_errors(form.customer.birth) }}
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">メールアドレス</label>
                                            </div>
                                            <div class="content ec-input{{ has_errors(form.customer.email.first) ? ' error' }}">
                                                {{ form_widget(form.customer.email.first, {
                                                    'attr': { 'oncopy': 'return false', 'oncut': 'return false', 'onpaste': 'return false' }
                                                }) }}
                                                {{ form_errors(form.customer.email.first) }}
                                                <p style="margin-top: 5px; color: red; font-size: 13px;">※ご注文後に「ご注文内容の確認メール」をお送りいたします。入力間違いにご注意ください。</p>
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">メールアドレス(再入力)</label>
                                            </div>
                                            <div class="content ec-input{{ has_errors(form.customer.email.second) ? ' error' }}">
                                                {{ form_widget(form.customer.email.second, {
                                                    'attr': { 'oncopy': 'return false', 'oncut': 'return false', 'onpaste': 'return false' }
                                                }) }}
                                                {{ form_errors(form.customer.email.second) }}
                                            </div>
                                        </li>
                                        {% if app.user is empty %}
                                            <li class="form_item plain_password">
                                                <div class="head">
                                                    <span class="required">必須</span><label class="">パスワード</label>
                                                </div>
                                                <div class="content ec-input{{ has_errors(form.customer.plain_password.first) ? ' error' }}">
                                                    {{ form_widget(form.customer.plain_password.first, {
                                                        'attr': { 'placeholder': '半角英数記号%min%〜%max%文字'|trans({ '%min%': eccube_config.eccube_password_min_len, '%max%': eccube_config.eccube_password_max_len }) },
                                                        'type': 'password'
                                                    }) }}
                                                    {# {{ form_errors(form.customer.plain_password.first) }} #}
                                                    <div class="invalid-feedback d-block">半角英数記号12〜50文字</div>
                                                </div>
                                            </li>
                                            <li class="form_item plain_password">
                                                <div class="head">
                                                    <span class="required">必須</span><label class="">パスワード(再入力)</label>
                                                </div>
                                                <div class="content ec-input{{ has_errors(form.customer.plain_password.second) ? ' error' }}">
                                                    {{ form_widget(form.customer.plain_password.second, {
                                                        'attr': { 'placeholder': '確認のためもう一度入力してください'|trans },
                                                        'type': 'password'
                                                    }) }}
                                                    {# {{ form_errors(form.customer.plain_password.second) }} #}
                                                    <div class="invalid-feedback d-block">確認のためもう一度入力してください</div>
                                                </div>
                                            </li>
                                        {% else %}
                                            <li style="display: none;">
                                                <input type="password" id="cart_customer_plain_password_first" name="cart[customer][plain_password][first]" required="required" placeholder="半角英数記号12〜50文字" class="form-control" value="dla20191215!A">
                                                <input type="password" id="cart_customer_plain_password_second" name="cart[customer][plain_password][second]" required="required" placeholder="確認のためもう一度入力してください" class="form-control"  value="dla20191215!A">
                                            </li>
                                        {% endif %}
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">郵便番号</label>
                                            </div>
                                            <div class="content ec-zipInput{{ has_errors(form.customer.postal_code) ? ' error' }}">
                                                {{ form_widget(form.customer.postal_code) }}<a href="https://www.post.japanpost.jp/zipcode/" target="_blank" class="btn_zip"><span>{{ '住所検索'|trans }}</span></a>
                                                {{ form_errors(form.customer.postal_code) }}
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">都道府県</label>
                                            </div>
                                            <div class="content ec-select{{ has_errors(form.customer.address.pref) ? ' error' }}">
                                                {{ form_widget(form.customer.address.pref) }}
                                                {{ form_errors(form.customer.address.pref) }}
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">市区町村</label>
                                            </div>
                                            <div class="content ec-input{{ has_errors(form.customer.address.addr01) ? ' error' }}">
                                                {{ form_widget(form.customer.address.addr01, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
                                                {{ form_errors(form.customer.address.addr01) }}
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">以降の住所</label>
                                            </div>
                                            <div class="content ec-input{{ has_errors(form.customer.address.addr02) ? ' error' }}">
                                                {{ form_widget(form.customer.address.addr02, { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
                                                {{ form_errors(form.customer.address.addr02) }}
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">電話番号</label>
                                            </div>
                                            <div class="content ec-input{{ has_errors(form.customer.phone_number) ? ' error' }}">
                                                {{ form_widget(form.customer.phone_number) }}
                                                {{ form_errors(form.customer.phone_number) }}
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="privacy_check ec-checkbox{{ has_errors(form.privacy_check) ? ' error' }}">
                                        <div id="privacy">
                                            <h3>1.個人情報の定義</h3>
                                            <p>「個人情報」とは、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの、及び他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものをいいます。</p>
                                            <br>
                                            <h3>2.個人情報の収集</h3>
                                            <p>当ショップでは商品のご購入、お問合せをされた際にお客様の個人情報を収集することがございます。<br> 収集するにあたっては利用目的を明記の上、適法かつ公正な手段によります。
                                            </p>
                                            <p>当ショップで収集する個人情報は以下の通りです。</p>
                                            <p>A)お名前、フリガナ
                                                <br> B)性別
                                                <br> C)生年月日
                                                <br> D)ご住所
                                                <br> E)お電話番号
                                                <br> F)メールアドレス
                                                <br> G)パスワード
                                                <br> H)配送先情報
                                                <br> I)当ショップとのお取引履歴及びその内容
                                                <br> J)上記を組み合わせることで特定の個人が識別できる情報
                                            </p>
                                            <br>
                                            <h3>3.個人情報の利用</h3>
                                            <p>当ショップではお客様からお預かりした個人情報の利用目的は以下の通りです。</p>
                                            <p>
                                                A)ご注文の確認、照会 <br>
                                                B)商品発送の確認、照会 <br>
                                                C)お問合せの返信時 <br>
                                                D)メルマガ配信時
                                            </p>
                                            <p>当ショップでは、下記の場合を除いてはお客様の断りなく第三者に個人情報を開示・提供することはいたしません。</p>
                                            <p>A)法令に基づく場合、及び国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合<br> B)人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合
                                                <br> C)当ショップを運営する会社の関連会社で個人データを交換する場合
                                            </p>
                                            <br>
                                            <h3>4.個人情報の安全管理</h3>
                                            <p>お客様よりお預かりした個人情報の安全管理はサービス提供会社によって合理的、組織的、物理的、人的、技術的施策を講じるとともに、当ショップでは関連法令に準じた適切な取扱いを行うことで個人データへの不正な侵入、個人情報の紛失、改ざん、漏えい等の危険防止に努めます。</p>
                                            <br>
                                            <h3>5.個人情報の訂正、削除</h3>
                                            <p>お客様からお預かりした個人情報の訂正・削除は下記の問合せ先よりお知らせ下さい。<br> また、ユーザー登録された場合、当サイトのメニュー「マイページ」より個人情報の訂正が出来ます。
                                            </p>
                                            <br>
                                            <h3>6.cookie(クッキー)の使用について</h3>
                                            <p>当社は、お客様によりよいサービスを提供するため、cookie （クッキー）を使用することがありますが、これにより個人を特定できる情報の収集を行えるものではなく、お客様のプライバシーを侵害することはございません。<br> ※cookie （クッキー）とは、サーバーコンピュータからお客様のブラウザに送信され、お客様が使用しているコンピュータのハードディスクに蓄積される情報です。</p>
                                            <br>
                                            <h3>7.SSLの使用について</h3>
                                            <p>個人情報の入力時には、セキュリティ確保のため、これらの情報が傍受、妨害または改ざんされることを防ぐ目的でSSL（Secure Sockets Layer）技術を使用しております。 ※ SSLは情報を暗号化することで、盗聴防止やデータの改ざん防止送受信する機能のことです。SSLを利用する事でより安全に情報を送信する事が可能となります。</p>
                                            <br>
                                            <h3>8.お問合せ先</h3>
                                            <p>特定商取引法に基づく表記をご覧ください。</p>
                                            <br>
                                            <h3>9.プライバシーポリシーの変更</h3>
                                            <p>当ショップでは、収集する個人情報の変更、利用目的の変更、またはその他プライバシーポリシーの変更を行う際は、当ページへの変更をもって公表とさせていただきます。</p>
                                        </div>
                                        {{ form_widget(form.privacy_check) }}
                                        {{ form_errors(form.privacy_check) }}
                                    </div>
                                </div>
                                <!-- お届け先情報入力 -->
                                <div class="p-orederform_sec h-adr customer_input wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                                    <div class="c-register_title">
                                        <h2>お届け先情報入力</h2>
                                    </div>
                                    <span class="p-country-name" style="display:none;">Japan</span>
                                    <ul>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">お届け先住所</label>
                                            </div>
                                            <div class="content ec-radio{{ has_errors(form.shipping_address) ? ' error' }}">
                                                {{ form_widget(form.shipping_address) }}
                                                {{ form_errors(form.shipping_address) }}
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">氏名</label>
                                            </div>
                                            <div class="content ec-halfInput{{ has_errors(form.shipping.name.name01, form.shipping.name.name02) ? ' error' }}">
                                                {{ form_widget(form.shipping.name.name01, {'attr': { 'placeholder': '姓' }}) }}
                                                {{ form_widget(form.shipping.name.name02, {'attr': { 'placeholder': '名' }}) }}
                                                {{ form_errors(form.shipping.name.name01) }}
                                                {{ form_errors(form.shipping.name.name02) }}
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">フリガナ</label>
                                            </div>
                                            <div class="content ec-halfInput{{ has_errors(form.shipping.kana.kana01, form.shipping.kana.kana02) ? ' error' }}">
                                                {{ form_widget(form.shipping.kana.kana01, {'attr': { 'placeholder': 'セイ' }}) }}
                                                {{ form_widget(form.shipping.kana.kana02, {'attr': { 'placeholder': 'メイ' }}) }}
                                                {{ form_errors(form.shipping.kana.kana01) }}
                                                {{ form_errors(form.shipping.kana.kana02) }}
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">郵便番号</label>
                                            </div>
                                            <div class="content ec-zipInput{{ has_errors(form.shipping.postal_code) ? ' error' }}">
                                                {{ form_widget(form.shipping.postal_code) }}<a href="https://www.post.japanpost.jp/zipcode/" target="_blank" class="btn_zip"><span>{{ '住所検索'|trans }}</span></a>
                                                {{ form_errors(form.shipping.postal_code) }}
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">都道府県</label>
                                            </div>
                                            <div class="content ec-select{{ has_errors(form.shipping.address.pref) ? ' error' }}">
                                                {{ form_widget(form.shipping.address.pref) }}
                                                {{ form_errors(form.shipping.address.pref) }}
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">市区町村</label>
                                            </div>
                                            <div class="content ec-input{{ has_errors(form.shipping.address.addr01) ? ' error' }}">
                                                {{ form_widget(form.shipping.address.addr01, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
                                                {{ form_errors(form.shipping.address.addr01) }}
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">以降の住所</label>
                                            </div>
                                            <div class="content ec-input{{ has_errors(form.shipping.address.addr02) ? ' error' }}">
                                                {{ form_widget(form.shipping.address.addr02, { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
                                                {{ form_errors(form.shipping.address.addr02) }}
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">電話番号</label>
                                            </div>
                                            <div class="content ec-input{{ has_errors(form.shipping.phone_number) ? ' error' }}">
                                                {{ form_widget(form.shipping.phone_number) }}
                                                {{ form_errors(form.shipping.phone_number) }}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                
                                <!-- クレジットカード情報入力 -->
                                <div class="p-orederform_sec h-adr customer_input wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                                    {{ form_widget(form.credit.token) }}
                                    {{ form_widget(form.credit.contract_code) }}
                                    {{ form_errors(form.credit.contract_code) }}
                                    {{ form_errors(form.credit.token) }}
                                    <div class="c-register_title">
                                        <h2>クレジットカード情報入力</h2>
                                    </div>
                                    <div class="card-group">
                                        <p> 下記の5種類のクレジットカードをご利用いただけます。<br/>
                                            Visa、Mastercards JCB、American Expressv Diners Club <br/>
                                            お支払いはすべて一括払いとなります。
                                        </p>
                                        <div class="cards">
                                            <div class="image">
                                                <img src="{{ asset('assets/image/common/credit/jcb.png') }}" />
                                            </div>
                                            <div class="image">
                                                <img src="{{ asset('assets/image/common/credit/visa.png') }}" />
                                            </div>
                                            <div class="image">
                                                <img src="{{ asset('assets/image/common/credit/diners.png') }}" />
                                            </div>
                                            <div class="image">
                                                <img src="{{ asset('assets/image/common/credit/express.png') }}" />
                                            </div>
                                            <div class="image">
                                                <img src="{{ asset('assets/image/common/credit/master_card.png') }}" />
                                            </div>
                                        </div>
                                    </div>
                                    <ul>                                        
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">カード番号</label>
                                            </div>
                                            <div class="content ec-input{{ has_errors(form.credit.credit_card_number) ? ' error' }}">
                                                {{ form_widget(form.credit.credit_card_number) }}
                                                {{ form_errors(form.credit.credit_card_number) }}
                                                <p class="example">例：4111345123412312</p>
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">有効期限</label>
                                            </div>
                                            <div class="content ec-select{{ has_errors(form.credit.expiration_month, form.credit.expiration_year) ? ' error' }}">
                                                {{ form_widget(form.credit.expiration_month) }}
                                                {{ form_errors(form.credit.expiration_month) }}
                                                {{ form_widget(form.credit.expiration_year) }}
                                                {{ form_errors(form.credit.expiration_year) }}
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">名義人</label>
                                            </div>
                                            <div class="content ec-input{{ has_errors(form.credit.holder_name) ? ' error' }}">
                                                {{ form_widget(form.credit.holder_name) }}
                                                {{ form_errors(form.credit.holder_name) }}
                                            </div>
                                        </li>
                                        <li class="form_item">
                                            <div class="head">
                                                <span class="required">必須</span><label class="">セキュリティコード</label>
                                            </div>
                                            <div class="content ec-halfInput{{ has_errors(form.credit.security_code) ? ' error' }}">
                                                {{ form_widget(form.credit.security_code) }}
                                                {{ form_errors(form.credit.security_code) }}<span id="open-security-code-modal">セキュリティコードについて</span>
                                                <p class="example">例：123</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="ec-modal" id="delivery-fee-modal">
                            <div class="ec-modal-overlay">
                                <div class="ec-modal-wrap">
                                    <span class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></span>
                                    <div class="ec-modal-box">
                                        <div>
                                            <img src="{{ asset('assets/image/common/delivery_fee_modal.png') }}" />
                                        </div>
                                        <div class="c-btn_group">
                                            <div class="c-btn_cancel">
                                                <span class="c-btn ec-inlineBtn--cancel">戻る</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ec-modal" id="security-code-modal">
                            <div class="ec-modal-overlay">
                                <div class="ec-modal-wrap">
                                    <span class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></span>
                                    <div class="ec-modal-box">
                                        <h3>セキュリティコードについて</h3>
                                        <div class="code-images">
                                            <div class="card">
                                                <div class="image">
                                                    <img src="{{ asset('assets/image/common/credit/visa-code.png') }}" />
                                                </div>
                                                <p>Visa・MasterCard・Diners Club・JCB の場合</p>
                                            </div>
                                            <div class="card">
                                                <div class="image">
                                                    <img src="{{ asset('assets/image/common/credit/express-code.png') }}" />
                                                </div>
                                                <p>American Express の場合 </p>
                                            </div>
                                        </div>
                                        <p style="text-align: center;">
                                            セキュリティコードとは、クレジットカードの裏面の署名欄に印字されている、右端の3~4桁の数字のことです。<br/>
                                            American Expressカードの場合は、裏面に印字されていることがあります。
                                        </p>
                                        <div class="c-btn_group">
                                            <div class="c-btn_cancel">
                                                <button class="c-btn ec-inlineBtn--cancel">閉じる</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="c-btn_group wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
                            <div class="c-btn_left">
                                <a href="{{ path('homepage') }}" class="c-btn">買い物を続ける</a>
                            </div>
                            <div class="c-btn_rigth">
                                <button class="c-btn" type="submit">確認する</button>
                            </div>
                        </div>
                    </div>
                </form>
            {% else %}
                {% for CartIndex,Cart in Carts %}
                    {% set cartKey = Cart.cart_key %}
                    {% for error in app.session.flashbag.get('eccube.front.cart.' ~ cartKey ~ '.request.error') %}
                        <div class="ec-cartRole__error">
                            <div class="ec-alert-warning">
                                <div class="ec-alert-warning__icon"><img src="{{ asset('assets/icon/exclamation-white.svg') }}"></div>
                                <div class="ec-alert-warning__text">
                                    {{ error|trans|nl2br }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="ec-role">
                    <div class="ec-off3Grid">
                        <div class="ec-off3Grid__cell">
                            <div class="ec-alert-warning">
                                <div class="ec-alert-warning__icon"><img src="{{ asset('assets/icon/exclamation-white.svg') }}"></div>
                                <div class="ec-alert-warning__text">{{ '現在カート内に商品はございません。'|trans }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
