{#
/*
 * This file is part of the ProductReview plugin
 *
 * Copyright (C) 2016 LOCKON CO.,LTD. All Rights Reserved.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
#}

{% import _self as stars %}

{# 星テキスト生成用マクロ #}
{% macro stars(positive, negative) %}
    {% set positive_stars = ["", "★", "★★", "★★★", "★★★★", "★★★★★"] %}
    {% set negative_stars = ["", "☆", "☆☆", "☆☆☆", "☆☆☆☆", "☆☆☆☆☆"] %}
    {{ positive_stars[positive] }}{{ negative_stars[negative] }}
{% endmacro %}

<link rel="stylesheet" href="{{ asset('assets/css/style_input.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ asset('assets/css/modal.css') }}" type="text/css" />
<style type="text/css">

    #product_review_area {
        border-top: 1px solid #E8E8E8;
        padding-bottom: 0;
        margin-bottom: 20px;
    }

    #product_review_area .ec-rectHeading {
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #product_review_area .ec-rectHeading.is_active i {
        transform: rotate(180deg);
    }

    #product_review_area .review_list {
        padding-left: 25px;
    }

    #product_review_area .review_list li {
        margin-bottom: 16px;
    }

    #product_review_area .review_list .review_date {
        font-weight: bold;
    }

    #product_review_area .recommend_average {
        margin-left: 16px;
        color: #DE5D50;
    }

    #product_review_area .review_list .recommend_level {
        margin-left: 16px;
        color: #DE5D50;
    }

    #product_review_area .review_list .recommend_name {
        margin-left: 16px;
    }

    #product_review_recommend_level span {
        font-size: 20px;
        color: #f5ed24;
        line-height: 1;
    }
</style>

<script>
    $(function() {
        $('.s-product_introduce').after($('.s-product_review'));

        $('#product_review_area .ec-rectHeading').on('click', function() {
            $content = $('#reviewContent');
            if ($content.css('display') == 'none') {
                $(this).addClass('is_active');
                $content.addClass('is_active');
                $content.slideDown(300);
            } else {
                $(this).removeClass('is_active');
                $content.removeClass('is_active');
                $content.slideUp(300);
            }
            return false;
        });

        $('#review_button').on('click', function() {
            $('#review-modal').show();
        });

        $('.ec-modal-close').on('click', function() {
            $('#review-modal').hide();
        });
    });
</script>



<!-- 商品レビュー -->
<section class="s-product_review">
    <div class="s-product_sec_title wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
        <h4>商品レビュー</h4>
    </div>
    <div class="s-review_contain wow fadeInUp" data-wow-duration="1s " data-wow-delay="0.3s">
        {% set positive_avg_star = ProductReviewAvg %}
        {% set negative_avg_star = 5 - positive_avg_star %}
        <div class="s-review_header">
            <div class="s-review_header_left">
                <div class="s-review_sumtitle">
                    <span>総合評価</span>
                </div>
                <div class="s-review_allstar">
                    <span>{{ stars.stars(positive_avg_star, negative_avg_star) }}</span>
                </div>
                <div class="s-review_marker">
                    <span>{{ ProductReviewAvg|number_format(1) }}</span>
                </div>
                <div class="s-review_counts">
                    <span>（{{ ProductReviewCount }}件）</span>
                </div>
            </div>
            <div class="s-review_header_right">
                <a id="review_button">
                    <img src="{{ asset('assets/image/common/review_writer.png') }}" alt=""><span>レビューを書く</span>
                </a>
            </div>
        </div>

        <div class="s-review_body">
            {% if ProductReviews %}
                {% for ProductReview in ProductReviews %}
                    {% set positive_star = ProductReview.recommend_level %}
                    {% set negative_star = 5 - positive_star %}
                    <div class="s-review_item">
                        <div class="s-review_item_title">
                            <h4>{{ ProductReview.title }}</h4>
                        </div>
                        <div class="s-review_item_content">
                            <div class="s-review_item_head">
                                <div class="s-review_itemhead_left">
                                    <div class="s-review_star">
                                        <span>{{ stars.stars(positive_star, negative_star) }}</span>
                                    </div>
                                    <div class="s-review_item_name">
                                        <span>{{ ProductReview.reviewer_name }}さん</span>
                                    </div>
                                </div>
                                <div class="s-review_itemhead_right">
                                    <p>投稿日：<span>{{ ProductReview.create_date|date_day }}</span></p>
                                </div>
                            </div>
                            <div class="s-review_item_body">
                                <p>{{ ProductReview.comment|nl2br }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>{{ 'product_review.front.product_detail.no_review'|trans }}</p>
            {% endif %}
        </div>
        
        <div class="ec-modal c-modal" id="review-modal">
            <div class="ec-modal-overlay">
                <div class="ec-modal-wrap">
                    <span class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></span>
                    <div class="ec-modal-box">
                        <form method="post" action="{{ url('product_review_form', { id: Product.id }) }}">
                            <ul>
                                <li class="form_row">
                                    <div class="head">
                                        <label class="">お名前</label>
                                    </div>
                                    <div class="content ec-input">
                                        <input type="text" id="product_review_reviewer_name" name="product_review[reviewer_name]"
                                            required="required" maxlength="255">
                                    </div>
                                </li>
                                <li class="form_row">
                                    <div class="head">
                                        <label class="">評価</label>
                                    </div>
                                    <div class="content ec-radio">
                                        <div id="product_review_recommend_level"> 
                                            <input type="radio" id="product_review_recommend_level_0"
                                                name="product_review[recommend_level]" required="required" value="5">
                                            <label for="product_review_recommend_level_0">
                                                <span>★★★★★</span>
                                            </label> <br/>
                                            <input type="radio" id="product_review_recommend_level_1" name="product_review[recommend_level]"
                                                required="required" value="4">
                                            <label for="product_review_recommend_level_1">
                                                <span>★★★★</span>
                                            </label> <br/>
                                            <input type="radio" id="product_review_recommend_level_2" name="product_review[recommend_level]"
                                                required="required" value="3">
                                            <label for="product_review_recommend_level_2">
                                                <span>★★★</span>
                                            </label> <br/>
                                            <input type="radio" id="product_review_recommend_level_3" name="product_review[recommend_level]"
                                                required="required" value="2">
                                            <label for="product_review_recommend_level_3">
                                                <span>★★</span>
                                            </label> <br/>
                                            <input type="radio" id="product_review_recommend_level_4" name="product_review[recommend_level]"
                                                required="required" value="1">
                                            <label for="product_review_recommend_level_4">
                                                <span>★</span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li class="form_row">
                                    <div class="head">
                                        <label class="">タイトル</label>
                                    </div>
                                    <div class="content ec-input">
                                        <input type="text" id="product_review_title" name="product_review[title]" required="required"
                                            maxlength="255">
                                    </div>
                                </li>
                                <li class="form_row">
                                    <div class="head">
                                        <label class="">本文</label>
                                    </div>
                                    <div class="content ec-input">
                                        <textarea id="product_review_comment" name="product_review[comment]" required="required"
                                            maxlength="3000"></textarea>
                                    </div>
                                </li>
                            </ul>
                            <div class="c-modal_submit">
                                <button class="c-btn" type="submit">この内容で投稿する</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>